/* Buttons */
.button {
  display: inline-block;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  color: white;
  font-size: 20px;
  font-family: bebasbold; }
  .button:focus {
    outline: 0;
    text-decoration: none;
    color: white; }
  .button[disabled] {
    opacity: 0.5 !important; }
  .button[disabled]:hover {
    opacity: 0.5 !important; }
  .button.uniform {
    width: 80px;
    height: 36px;
    border-radius: 10px;
    text-align: center;
    padding-top: 4px; }
  .button:hover {
    text-decoration: none;
    color: white;
    opacity: 0.8; }
  .button.red {
    background-color: #FF5A5F; }
  .button.green {
    background-color: #51AF71; }
  .button.blue {
    background-color: #47BBEA; }
