.confirm-signup-modal .modal-dialog {
  border-radius: 10px;
  border: none;
  margin-top: 100px;
  width: 700px; }
  .confirm-signup-modal .modal-dialog #confirm_signup_modal {
    border-radius: 10px;
    padding: 0px; }
    .confirm-signup-modal .modal-dialog #confirm_signup_modal .modal-header {
      padding: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background: black;
      margin-bottom: 15px; }
      .confirm-signup-modal .modal-dialog #confirm_signup_modal .modal-header h3 {
        font-family: bebasbold;
        color: white;
        margin: 5px;
        font-size: 40px; }
    .confirm-signup-modal .modal-dialog #confirm_signup_modal .text-area {
      margin-bottom: 30px; }
      .confirm-signup-modal .modal-dialog #confirm_signup_modal .text-area h4 {
        font-family: bebasbold;
        font-size: 35px; }
    .confirm-signup-modal .modal-dialog #confirm_signup_modal .button-area {
      margin: 10px; }
      .confirm-signup-modal .modal-dialog #confirm_signup_modal .button-area button {
        border: 0;
        padding-top: 1px;
        margin: 10px; }
