#create_gigphotos_contentarea {
  color: black;
  margin-top: 64px;
  padding: 15px; }
  #create_gigphotos_contentarea #drop_box {
    border: 4px dashed lightgrey;
    width: 100%;
    min-height: 250px;
    text-align: center;
    margin-top: 2px;
    display: inline-block;
    position: relative;
    border-radius: 2%; }
    #create_gigphotos_contentarea #drop_box .upload_cover_icon {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      height: 50px;
      width: 50px;
      background: url("..//img/icons/upload.png") 0 0 no-repeat;
      z-index: 3; }
    #create_gigphotos_contentarea #drop_box .upload_cover_text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      padding-top: 70px;
      z-index: 1; }
      #create_gigphotos_contentarea #drop_box .upload_cover_text p {
        font-family: helvetica;
        color: lightgrey;
        font-size: 16px; }
    #create_gigphotos_contentarea #drop_box #gigphotos_cover_preview {
      width: 100%;
      background-repeat: no-repeat; }
    #create_gigphotos_contentarea #drop_box:hover .upload_cover_icon {
      display: block !important; }
    #create_gigphotos_contentarea #drop_box:hover .upload_cover_text {
      display: block !important; }
    #create_gigphotos_contentarea #drop_box:hover + .crop-btn {
      display: block !important; }
  #create_gigphotos_contentarea p.photo-credit {
    color: grey;
    line-height: 26px; }
  #create_gigphotos_contentarea .crop-btn {
    position: absolute;
    top: 10px;
    right: 22px;
    border: 0;
    padding-top: 1px;
    margin: 10px;
    background: #F5D04C; }
    #create_gigphotos_contentarea .crop-btn:hover {
      display: block !important; }
  #create_gigphotos_contentarea input.cover-credit {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 9px;
    padding-right: 9px;
    border: none;
    border: 2px solid lightgrey;
    border-radius: 15px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }
  #create_gigphotos_contentarea #drop_box_photos {
    border: 2px dashed #47BBEA;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    border-radius: 10%; }
    #create_gigphotos_contentarea #drop_box_photos .upload_cover_icon {
      width: 100%;
      z-index: 1; }
      #create_gigphotos_contentarea #drop_box_photos .upload_cover_icon p {
        padding-top: 10px;
        color: #47BBEA;
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 0; }
    #create_gigphotos_contentarea #drop_box_photos .upload_cover_text {
      z-index: 1; }
      #create_gigphotos_contentarea #drop_box_photos .upload_cover_text p {
        font-family: helvetica;
        color: #47BBEA;
        font-size: 12px; }
    #create_gigphotos_contentarea #drop_box_photos #gigphotos_cover_preview {
      width: 100%;
      background-repeat: no-repeat; }
    #create_gigphotos_contentarea #drop_box_photos:hover .upload_cover_icon {
      display: block !important; }
    #create_gigphotos_contentarea #drop_box_photos:hover .upload_cover_text {
      display: block !important; }
  #create_gigphotos_contentarea #gigphotos_area {
    font-family: helvetica;
    color: grey; }
    #create_gigphotos_contentarea #gigphotos_area input {
      outline: none;
      border: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      line-height: normal; }
    #create_gigphotos_contentarea #gigphotos_area textarea {
      width: 100%;
      height: auto;
      outline: none;
      border: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      resize: none;
      overflow: hidden;
      margin-top: 10px;
      margin-bottom: 10px; }
    #create_gigphotos_contentarea #gigphotos_area .headline textarea {
      color: black;
      text-align: center;
      font-family: helvetica;
      font-size: 60px;
      height: 60px;
      line-height: 60px; }
    #create_gigphotos_contentarea #gigphotos_area .subtitle textarea {
      color: black;
      text-align: center;
      font-size: 25px;
      height: 25px; }
  #create_gigphotos_contentarea .story textarea {
    font-size: 20px; }
  #create_gigphotos_contentarea .prefill-info .panel-group .panel-default {
    background-color: #e4e4e4;
    border-radius: 10px 10px 10px 10px; }
    #create_gigphotos_contentarea .prefill-info .panel-group .panel-default.panel-open {
      border-radius: 10px 10px 10px 10px; }
    #create_gigphotos_contentarea .prefill-info .panel-group .panel-default .panel-heading {
      border-radius: 10px 10px 10px 10px;
      background-color: #e4e4e4;
      padding: 0; }
    #create_gigphotos_contentarea .prefill-info .panel-group .panel-default .panel-body {
      border: none;
      padding-top: none;
      border-radius: 10px 10px 0px 0px; }
    #create_gigphotos_contentarea .prefill-info .panel-group .panel-default .panel-collapse {
      border-radius: 10px 10px 10px 10px; }
  #create_gigphotos_contentarea .prefill-info input {
    width: 80%;
    margin-bottom: 10px;
    padding-left: 9px;
    padding-right: 9px;
    border: none;
    border-radius: 10px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }
  #create_gigphotos_contentarea .prefill-info h2 {
    font-family: bebasbold;
    font-size: 20px;
    margin-top: 0; }
  #create_gigphotos_contentarea .prefill-info p {
    margin: 0; }
  #create_gigphotos_contentarea .prefill-info a {
    margin: 0; }
  #create_gigphotos_contentarea textarea {
    font-family: helvetica;
    width: 100%;
    height: auto;
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    resize: none;
    color: grey; }
  #create_gigphotos_contentarea #button_row button {
    border: 0;
    padding-top: 1px; }
  #create_gigphotos_contentarea #button_row a {
    margin: 10px; }
  #create_gigphotos_contentarea .image-grid .as-sortable-item {
    margin-bottom: 10px; }
    #create_gigphotos_contentarea .image-grid .as-sortable-item .order-id {
      background-color: #51AF71;
      margin-bottom: 3px; }
    #create_gigphotos_contentarea .image-grid .as-sortable-item .remove-image {
      background-color: red; }
      #create_gigphotos_contentarea .image-grid .as-sortable-item .remove-image:hover {
        cursor: pointer; }
    #create_gigphotos_contentarea .image-grid .as-sortable-item input {
      width: 100%;
      margin-bottom: 2px; }
    #create_gigphotos_contentarea .image-grid .as-sortable-item .one-one {
      position: relative;
      border: 2px dashed #B4B5B4;
      margin: 5px; }
      #create_gigphotos_contentarea .image-grid .as-sortable-item .one-one:before {
        display: block;
        content: " ";
        width: 100%;
        padding-top: 100%; }
      #create_gigphotos_contentarea .image-grid .as-sortable-item .one-one > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center; }
        #create_gigphotos_contentarea .image-grid .as-sortable-item .one-one > .content img {
          max-width: 100%;
          max-height: 100%;
          width: auto;
          height: auto;
          padding: 5px; }

.as-sortable-dragging .order-id {
  display: none; }

.as-sortable-dragging .remove-image {
  display: none; }

.as-sortable-dragging input {
  display: none;
  width: 400%;
  margin: 2px; }

.as-sortable-dragging .one-one .content img {
  width: 400%; }

.as-sortable-placeholder {
  border: 2px dashed #B4B5B4;
  background-color: lightgrey; }
