#create_feature_contentarea {
  color: black;
  margin-top: 64px;
  padding: 15px; }
  #create_feature_contentarea #drop_box {
    border: 4px dashed lightgrey;
    width: 100%;
    min-height: 250px;
    text-align: center;
    margin-top: 2px;
    display: inline-block;
    position: relative;
    border-radius: 2%; }
    #create_feature_contentarea #drop_box .upload_cover_icon {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      height: 50px;
      width: 50px;
      background: url("..//img/icons/upload.png") 0 0 no-repeat;
      z-index: 3; }
    #create_feature_contentarea #drop_box .upload_cover_text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      padding-top: 70px;
      z-index: 1; }
      #create_feature_contentarea #drop_box .upload_cover_text p {
        font-family: helvetica;
        color: lightgrey;
        font-size: 16px; }
    #create_feature_contentarea #drop_box #feature_cover_preview {
      width: 100%;
      background-repeat: no-repeat; }
    #create_feature_contentarea #drop_box:hover .upload_cover_icon {
      display: block !important; }
    #create_feature_contentarea #drop_box:hover .upload_cover_text {
      display: block !important; }
    #create_feature_contentarea #drop_box:hover + .crop-btn {
      display: block !important; }
  #create_feature_contentarea p.photo-credit {
    color: grey;
    line-height: 26px; }
  #create_feature_contentarea .crop-btn {
    position: absolute;
    top: 10px;
    right: 22px;
    border: 0;
    padding-top: 1px;
    margin: 10px;
    background: #F5D04C; }
    #create_feature_contentarea .crop-btn:hover {
      display: block !important; }
  #create_feature_contentarea input.cover-credit {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 9px;
    padding-right: 9px;
    border: none;
    border: 2px solid lightgrey;
    border-radius: 15px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }
  #create_feature_contentarea #feature_area {
    font-family: helvetica;
    color: grey; }
    #create_feature_contentarea #feature_area .btn-group {
      margin-bottom: 10px !important; }
    #create_feature_contentarea #feature_area input {
      outline: none;
      border: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      line-height: normal; }
    #create_feature_contentarea #feature_area textarea {
      width: 100%;
      height: auto;
      outline: none;
      border: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      resize: none;
      overflow: hidden; }
    #create_feature_contentarea #feature_area .headline textarea {
      color: black;
      font-family: helvetica;
      font-size: 60px;
      height: 60px;
      line-height: 60px; }
    #create_feature_contentarea #feature_area .subtitle textarea {
      color: black;
      font-size: 25px;
      height: 25px; }
    #create_feature_contentarea #feature_area .story .ta-editor {
      min-height: 300px;
      height: auto;
      overflow: auto;
      font-family: helvetica;
      font-size: 100%; }
  #create_feature_contentarea #button_row button {
    border: 0;
    padding-top: 1px; }
  #create_feature_contentarea #button_row a {
    margin: 10px; }
