.create-post-modal .modal-dialog {
  border-radius: 0;
  margin: auto;
  margin-top: 100px;
  width: 700px; }
  .create-post-modal .modal-dialog #create_postmodal #post_header {
    background-color: #1E1E1E; }
    .create-post-modal .modal-dialog #create_postmodal #post_header h2 {
      color: white;
      font-family: bebasBold;
      text-align: center;
      margin: 0;
      font-size: 40px;
      padding-top: 7px; }
  .create-post-modal .modal-dialog #create_postmodal #post_body {
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px; }
    .create-post-modal .modal-dialog #create_postmodal #post_body .type-square {
      height: 200px;
      padding: 20px; }
      .create-post-modal .modal-dialog #create_postmodal #post_body .type-square div {
        height: 100%;
        border: 1px solid black;
        border-radius: 7px;
        cursor: pointer;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        position: relative; }
        .create-post-modal .modal-dialog #create_postmodal #post_body .type-square div:first-child {
          margin-right: 10px; }
        .create-post-modal .modal-dialog #create_postmodal #post_body .type-square div:last-child {
          margin-left: 10px; }
        .create-post-modal .modal-dialog #create_postmodal #post_body .type-square div h3 {
          font-family: bebasBold;
          text-align: center; }
        .create-post-modal .modal-dialog #create_postmodal #post_body .type-square div img {
          display: block;
          margin: auto; }
        .create-post-modal .modal-dialog #create_postmodal #post_body .type-square div p {
          color: grey;
          text-align: center;
          margin-left: 10px;
          margin-right: 10px; }
        .create-post-modal .modal-dialog #create_postmodal #post_body .type-square div:hover {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
          transform: scale(1.1); }
          .create-post-modal .modal-dialog #create_postmodal #post_body .type-square div:hover.feature {
            background-color: lightgreen; }
          .create-post-modal .modal-dialog #create_postmodal #post_body .type-square div:hover.review {
            background-color: lightpink; }
          .create-post-modal .modal-dialog #create_postmodal #post_body .type-square div:hover.gig-photos {
            background-color: lightblue; }
          .create-post-modal .modal-dialog #create_postmodal #post_body .type-square div:hover.slideshow {
            background-color: lightyellow; }
          .create-post-modal .modal-dialog #create_postmodal #post_body .type-square div:hover.musicnews {
            background-color: lightseagreen; }
