.crop-modal .modal-dialog {
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 100px;
  width: 1000px; }
  .crop-modal .modal-dialog #crop_modal {
    padding: 0px; }
    .crop-modal .modal-dialog #crop_modal .modal-header {
      padding: 5px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      background: black;
      margin-bottom: 15px; }
      .crop-modal .modal-dialog #crop_modal .modal-header h3 {
        font-family: bebasbold;
        color: white;
        margin: 5px;
        font-size: 40px; }
    .crop-modal .modal-dialog #crop_modal .preview-area {
      border-right: 2px solid lightgrey;
      padding: 20px;
      margin-bottom: 20px; }
      .crop-modal .modal-dialog #crop_modal .preview-area img {
        border: 2px dashed black;
        width: 100%; }
    .crop-modal .modal-dialog #crop_modal .crop-area {
      padding: 20px;
      width: 100%;
      height: 400px; }
      .crop-modal .modal-dialog #crop_modal .crop-area img {
        width: 100px; }
    .crop-modal .modal-dialog #crop_modal .button-area {
      margin: 10px; }
      .crop-modal .modal-dialog #crop_modal .button-area button {
        border: 0;
        padding-top: 1px;
        margin: 10px; }
