#home_contentarea {
  color: black;
  margin-top: 64px; }
  #home_contentarea p {
    color: grey;
    font-family: helvetica; }
  #home_contentarea .ellipsis-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.1;
    /* fallback */
    max-height: 2.2;
    /* fallback */
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical; }
  #home_contentarea .ellipsis-7 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    /* fallback */
    max-height: 80px;
    /* fallback */
    -webkit-line-clamp: 5;
    /* number of lines to show */
    -webkit-box-orient: vertical; }
  #home_contentarea .home-container {
    padding: 0;
    margin-bottom: 40px; }
    #home_contentarea .home-container .home_background {
      background: url("..//img/crowd-homepage-min.jpg") no-repeat;
      background-position: 50% 70%;
      background-size: cover;
      height: 350px; }
      #home_contentarea .home-container .home_background h1 {
        position: absolute;
        font-family: bebasbold;
        font-size: 70px;
        text-align: center;
        bottom: 0;
        color: white;
        width: 100%;
        text-shadow: 5px 5px black; }
  #home_contentarea .row-articles {
    margin-bottom: 50px; }
    #home_contentarea .row-articles .custom-header a {
      font-size: 25px; }
    #home_contentarea .row-articles .articles .article {
      cursor: pointer;
      height: 220px;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      #home_contentarea .row-articles .articles .article:hover {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05); }
      #home_contentarea .row-articles .articles .article.ng-enter-stagger {
        transition-delay: 0.3s;
        transition-duration: 0;
        animation-delay: 0.3s;
        animation-duration: 0s; }
      #home_contentarea .row-articles .articles .article.ng-enter {
        animation: 1s;
        transition: 1s;
        opacity: 0; }
      #home_contentarea .row-articles .articles .article.ng-enter-active {
        opacity: 1; }
      #home_contentarea .row-articles .articles .article .article-content {
        position: relative;
        height: 100%; }
        #home_contentarea .row-articles .articles .article .article-content .no-mobile {
          height: 100%; }
          #home_contentarea .row-articles .articles .article .article-content .no-mobile img {
            height: 100%;
            width: 220px;
            padding: 10px; }
          #home_contentarea .row-articles .articles .article .article-content .no-mobile .author {
            color: black; }
          #home_contentarea .row-articles .articles .article .article-content .no-mobile h2 {
            font-family: bebasbold;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
          #home_contentarea .row-articles .articles .article .article-content .no-mobile .timestamp {
            font-size: 10px;
            position: absolute;
            bottom: 0;
            left: 220px; }
          #home_contentarea .row-articles .articles .article .article-content .no-mobile .views {
            font-size: 10px;
            position: absolute;
            bottom: 0;
            right: 0; }
        #home_contentarea .row-articles .articles .article .article-content .article-mobile img {
          width: 100%;
          margin-top: 20px;
          padding: 10px; }
        #home_contentarea .row-articles .articles .article .article-content .article-mobile .author {
          color: black; }
        #home_contentarea .row-articles .articles .article .article-content .article-mobile h2 {
          font-family: bebasbold;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 50px; }
        #home_contentarea .row-articles .articles .article .article-content .article-mobile .timestamp {
          font-size: 20px; }
        #home_contentarea .row-articles .articles .article .article-content .article-mobile .views {
          font-size: 20px; }
      #home_contentarea .row-articles .articles .article hr {
        width: 100%;
        margin: 0px;
        border-top: 2px solid #eee; }
    #home_contentarea .row-articles .top-posts {
      text-align: center; }
      #home_contentarea .row-articles .top-posts h2 {
        font-family: bebasbold;
        letter-spacing: 2px;
        margin-bottom: 30px;
        font-size: 35px; }
      #home_contentarea .row-articles .top-posts .post {
        cursor: pointer;
        height: 220px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        height: 300px; }
        #home_contentarea .row-articles .top-posts .post:hover {
          -webkit-transform: scale(1.02);
          -moz-transform: scale(1.02);
          -ms-transform: scale(1.02);
          -o-transform: scale(1.02);
          transform: scale(1.02); }
        #home_contentarea .row-articles .top-posts .post img {
          width: 100%; }
        #home_contentarea .row-articles .top-posts .post .info-area .author {
          margin-top: 80px;
          font-family: bebasbold;
          color: black;
          font-size: 20px; }
        #home_contentarea .row-articles .top-posts .post .info-area .index {
          font-size: 40px;
          color: black;
          position: relative; }
        #home_contentarea .row-articles .top-posts .post .info-area .views {
          font-family: bebasbold;
          clear: both;
          margin-top: 90px;
          color: black;
          font-size: 20px; }
        #home_contentarea .row-articles .top-posts .post .title {
          font-family: bebasbold;
          color: black;
          font-size: 30px;
          padding: 10px;
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          line-height: 1.3;
          /* fallback */
          max-height: 2.6;
          /* fallback */
          -webkit-line-clamp: 2;
          /* number of lines to show */
          -webkit-box-orient: vertical; }
        #home_contentarea .row-articles .top-posts .post hr {
          border-top: 2px solid #eee;
          width: 97%; }
    #home_contentarea .row-articles .top-users {
      text-align: center; }
      #home_contentarea .row-articles .top-users h2 {
        font-family: bebasbold;
        letter-spacing: 2px;
        margin-bottom: 30px;
        font-size: 35px; }
      #home_contentarea .row-articles .top-users .user {
        cursor: pointer;
        height: 220px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        height: 300px; }
        #home_contentarea .row-articles .top-users .user:hover {
          -webkit-transform: scale(1.02);
          -moz-transform: scale(1.02);
          -ms-transform: scale(1.02);
          -o-transform: scale(1.02);
          transform: scale(1.02); }
        #home_contentarea .row-articles .top-users .user img {
          width: 100%;
          margin-right: 50px; }
        #home_contentarea .row-articles .top-users .user .index {
          font-size: 40px;
          color: black; }
        #home_contentarea .row-articles .top-users .user .views {
          text-align: left;
          font-family: bebasbold;
          clear: both;
          margin-top: 130px;
          color: black;
          font-size: 20px; }
        #home_contentarea .row-articles .top-users .user hr {
          border-top: 2px solid #eee;
          width: 97%; }
        #home_contentarea .row-articles .top-users .user .first-name {
          font-family: bebasbold;
          color: black;
          font-size: 20px;
          text-align: left; }
        #home_contentarea .row-articles .top-users .user .last-name {
          font-family: bebasbold;
          color: black;
          font-size: 20px;
          text-align: left;
          margin-bottom: 40px; }
        #home_contentarea .row-articles .top-users .user .user-name {
          font-family: bebasbold;
          color: black;
          font-size: 20px;
          text-align: left; }
    #home_contentarea .row-articles button.load-more {
      border: 0;
      padding: 4px;
      padding-left: 10px;
      padding-right: 10px;
      width: auto;
      margin: 0;
      margin-top: 10px; }
  #home_contentarea .home-button-row {
    height: 200px;
    padding-top: 10px; }
    #home_contentarea .home-button-row a.uniform {
      width: 110px;
      height: 50px;
      border-radius: 4px;
      text-align: center;
      padding-top: 12px;
      margin: 5px; }
