#loadingmodal {
  padding: 10px; }
  #loadingmodal .img-preview {
    width: 100%; }
  #loadingmodal .progress-text {
    text-align: center; }
  #loadingmodal a.button.uniform.green {
    margin-left: 20px; }
  #loadingmodal .error-area {
    padding-left: 0px !important; }
    #loadingmodal .error-area .error-image img {
      margin-top: 17px;
      width: 100%; }
