.login-modal .modal-dialog {
  border-radius: 0;
  margin: auto;
  margin-top: 100px;
  width: 400px; }
  .login-modal .modal-dialog #loginmodal div.tab-pane {
    padding: 20px; }
  .login-modal .modal-dialog #loginmodal p {
    color: grey;
    margin-bottom: 5px; }
    .login-modal .modal-dialog #loginmodal p.forgotpassword {
      font-size: 10px;
      color: blue;
      cursor: pointer; }
    .login-modal .modal-dialog #loginmodal p.error-message {
      color: red; }
  .login-modal .modal-dialog #loginmodal button.signin {
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
    font-family: bebasbold;
    font-size: 20px; }
    .login-modal .modal-dialog #loginmodal button.signin[disabled] {
      opacity: 0.7 !important; }
  .login-modal .modal-dialog #loginmodal input {
    border: solid 1px lightgrey;
    width: 100%;
    margin-bottom: 10px;
    height: 35px; }
  .login-modal .modal-dialog #loginmodal .nav-tabs.nav-justified > li > a {
    color: black;
    font-size: 20px;
    border-radius: 0;
    border-bottom: none; }
  .login-modal .modal-dialog #loginmodal li {
    background-color: lightgrey; }
