#header {
  position: fixed;
  height: 64px;
  background-color: #1E1E1E;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }
  #header.withshadow {
    -webkit-box-shadow: 0px 17px 90px 9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 17px 90px 9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 17px 90px 9px rgba(0, 0, 0, 0.75); }
  #header #headerleft {
    height: 64px;
    float: left;
    margin: 0;
    padding: 0; }
    #header #headerleft #header-logo {
      width: 190px;
      height: 32px;
      margin: 16px 0 50px 30px;
      padding: 0;
      background: transparent url("..//img/logo-header-double.jpg") 0 0 no-repeat;
      text-indent: -9999em; }
      #header #headerleft #header-logo a {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
        filter: alpha(opacity=0);
        display: block;
        width: 190px;
        height: 32px;
        margin: 0;
        padding: 0;
        text-decoration: none;
        background: transparent url("..//img/logo-header-double.jpg") 0 -32px no-repeat;
        transition-property: opacity;
        transition-duration: 0.5s;
        transition-timing-function: ease-out;
        -moz-transition-property: opacity;
        -moz-transition-duration: 0.5s;
        -webkit-transition-property: opacity;
        -webkit-transition-duration: 0.5s;
        -o-transition-property: opacity;
        -o-transition-duration: 0.5s;
        -ms-transition-property: opacity;
        -ms-transition-duration: 0.5s; }
        #header #headerleft #header-logo a:hover {
          opacity: 1;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=1)";
          filter: alpha(opacity=1);
          transition-property: opacity;
          transition-duration: 0.2s;
          transition-timing-function: ease-out;
          -moz-transition-property: opacity;
          -moz-transition-duration: 0.2s;
          -webkit-transition-property: opacity;
          -webkit-transition-duration: 0.2s;
          -o-transition-property: opacity;
          -o-transition-duration: 0.2s;
          -ms-transition-property: opacity;
          -ms-transition-duration: 0.2s; }
    #header #headerleft li {
      padding: 0;
      margin: 0;
      height: 64px;
      display: inline-block; }
      #header #headerleft li a {
        display: block;
        height: 64px;
        line-height: 64px;
        color: #1E1E1E;
        font-size: 10px;
        margin-left: 40px;
        letter-spacing: 1px;
        -webkit-transition: 300ms;
        -moz-transition: 300ms;
        -o-transition: 300ms;
        transition: 300ms; }
  #header #headerright {
    height: 64px;
    float: right;
    margin: 0;
    padding: 0;
    padding-top: 7px; }
    #header #headerright li {
      padding: 0;
      margin: 0;
      margin-right: 18px;
      height: 64px;
      display: inline-block;
      float: left; }
      #header #headerright li a {
        color: #FFFFFF;
        font-family: azomedium;
        font-size: 12px; }
        #header #headerright li a.active {
          opacity: 0.5; }
        #header #headerright li a .menu-arrow {
          cursor: pointer;
          width: 50px;
          height: 50px;
          background: url("..//img/icons/expand_arrow_white.png") 0 0 no-repeat;
          opacity: 1; }
          #header #headerright li a .menu-arrow:hover {
            opacity: 0.8; }
    #header #headerright #headerprofilephoto {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      margin-top: 3px; }
      #header #headerright #headerprofilephoto img {
        width: 50px;
        height: 50px;
        border-radius: 50%; }
        #header #headerright #headerprofilephoto img:hover {
          opacity: 0.5; }
    #header #headerright #home_icon {
      cursor: pointer; }
      #header #headerright #home_icon a {
        font-size: 14px; }
      #header #headerright #home_icon i {
        color: white; }
        #header #headerright #home_icon i:hover {
          opacity: 0.5; }

#headerrightmenu {
  position: absolute;
  top: 64px;
  right: 0;
  background-color: white;
  width: 160px;
  z-index: 999;
  line-height: 0;
  padding-left: 0;
  text-align: left; }
  #headerrightmenu .list-group {
    margin-bottom: 0; }
    #headerrightmenu .list-group a {
      border-radius: 0;
      color: #1E1E1E;
      background-color: white; }
      #headerrightmenu .list-group a:hover {
        color: white;
        background-color: #1E1E1E; }
