.preview-article-modal .modal-dialog {
  border-radius: 10px;
  border: 1px solid black;
  margin: auto;
  margin-top: 100px;
  width: 700px; }
  .preview-article-modal .modal-dialog #postmodal_preview {
    padding: 20px; }
    .preview-article-modal .modal-dialog #postmodal_preview .headline {
      width: 100%;
      font-family: bebasbold;
      font-size: 60px; }
    .preview-article-modal .modal-dialog #postmodal_preview .subtitle {
      width: 100%;
      font-size: 25px;
      font-family: helvetica;
      color: grey; }
    .preview-article-modal .modal-dialog #postmodal_preview .cover_photo {
      margin-top: 25px;
      margin-bottom: 25px;
      width: 100%; }
    .preview-article-modal .modal-dialog #postmodal_preview .story {
      size: 18px;
      width: 100%;
      height: auto;
      font-size: 18px;
      font-family: helvetica; }
    .preview-article-modal .modal-dialog #postmodal_preview .scalable-16-9 {
      width: 100%;
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 35px;
      height: 0;
      overflow: hidden; }
      .preview-article-modal .modal-dialog #postmodal_preview .scalable-16-9 iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
