.preview-slideshow-modal .modal-dialog {
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 100px;
  width: 1000px; }
  .preview-slideshow-modal .modal-dialog #slideshow_preview_modal {
    background-color: #1E1E1E;
    height: 550px;
    padding: 20px; }
    .preview-slideshow-modal .modal-dialog #slideshow_preview_modal .headline {
      color: white;
      width: 100%;
      font-family: bebasbold;
      font-size: 40px;
      margin: 0px; }
    .preview-slideshow-modal .modal-dialog #slideshow_preview_modal .subtitle {
      width: 100%;
      font-size: 20px;
      font-family: helvetica;
      color: grey;
      margin: 0px;
      margin-bottom: 10px; }
    .preview-slideshow-modal .modal-dialog #slideshow_preview_modal .cover_photo {
      margin-top: 25px;
      margin-bottom: 25px;
      width: 100%; }
    .preview-slideshow-modal .modal-dialog #slideshow_preview_modal .story {
      width: 100%;
      height: auto;
      font-size: 15px;
      font-family: helvetica;
      color: lightgrey; }
    .preview-slideshow-modal .modal-dialog #slideshow_preview_modal .scalable-16-9 {
      width: 100%;
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 35px;
      height: 0;
      overflow: hidden; }
      .preview-slideshow-modal .modal-dialog #slideshow_preview_modal .scalable-16-9 iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    .preview-slideshow-modal .modal-dialog #slideshow_preview_modal .slideshow .carousel-control {
      background-image: none; }
      .preview-slideshow-modal .modal-dialog #slideshow_preview_modal .slideshow .carousel-control span {
        cursor: pointer; }
    .preview-slideshow-modal .modal-dialog #slideshow_preview_modal .slideshow .carousel-indicators {
      display: none; }
    .preview-slideshow-modal .modal-dialog #slideshow_preview_modal .story-container {
      height: 400px;
      overflow-y: auto; }
