#profile_settings_contentarea {
  color: black;
  margin-top: 64px; }
  #profile_settings_contentarea a.uniform {
    width: 110px;
    height: 50px;
    border-radius: 4px;
    text-align: center;
    padding-top: 12px;
    margin: 5px; }
  #profile_settings_contentarea h2 {
    font-family: bebasbold;
    font-size: 30px;
    text-align: center; }
    #profile_settings_contentarea h2.profile-headline {
      text-align: left; }
  #profile_settings_contentarea h3 {
    text-align: center; }
    #profile_settings_contentarea h3.profile-link {
      color: darkturquoise;
      font-size: 25px; }
      #profile_settings_contentarea h3.profile-link a {
        color: darkturquoise; }
      #profile_settings_contentarea h3.profile-link input.username {
        background-color: #EFF0EF;
        border: none;
        outline: none;
        border: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important; }
  #profile_settings_contentarea a.save-username {
    margin: 10px;
    margin-bottom: 100px; }
  #profile_settings_contentarea .ellipsis-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.1;
    /* fallback */
    max-height: 2.2;
    /* fallback */
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical; }
  #profile_settings_contentarea .ellipsis-7 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    /* fallback */
    max-height: 112px;
    /* fallback */
    -webkit-line-clamp: 7;
    /* number of lines to show */
    -webkit-box-orient: vertical; }
  #profile_settings_contentarea #posts div.tab-pane {
    padding: 30px;
    background: white; }
    #profile_settings_contentarea #posts div.tab-pane .user-articles .article {
      cursor: pointer; }
      #profile_settings_contentarea #posts div.tab-pane .user-articles .article.ng-enter-stagger {
        transition-delay: 0.3s;
        transition-duration: 0;
        animation-delay: 0.3s;
        animation-duration: 0s; }
      #profile_settings_contentarea #posts div.tab-pane .user-articles .article.ng-enter {
        animation: 1s;
        transition: 1s;
        opacity: 0; }
      #profile_settings_contentarea #posts div.tab-pane .user-articles .article.ng-enter-active {
        opacity: 1; }
      #profile_settings_contentarea #posts div.tab-pane .user-articles .article .article-content {
        position: relative;
        height: 100%; }
        #profile_settings_contentarea #posts div.tab-pane .user-articles .article .article-content img {
          height: 220px;
          max-width: 220px;
          padding: 15px;
          padding-left: 0; }
        #profile_settings_contentarea #posts div.tab-pane .user-articles .article .article-content h2 {
          font-family: bebasbold;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        #profile_settings_contentarea #posts div.tab-pane .user-articles .article .article-content .timestamp {
          font-size: 10px;
          position: absolute;
          bottom: 5px;
          left: 220px; }
        #profile_settings_contentarea #posts div.tab-pane .user-articles .article .article-content .views {
          font-size: 10px;
          position: absolute;
          bottom: 0;
          right: 0; }
        #profile_settings_contentarea #posts div.tab-pane .user-articles .article .article-content p {
          font-size: 14px; }
        #profile_settings_contentarea #posts div.tab-pane .user-articles .article .article-content .no-articles {
          margin-top: 100px;
          margin-bottom: 100px; }
      #profile_settings_contentarea #posts div.tab-pane .user-articles .article .button-row {
        opacity: 0;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        margin-top: 30px; }
        #profile_settings_contentarea #posts div.tab-pane .user-articles .article .button-row a {
          cursor: pointer;
          width: 100%;
          height: 50px;
          margin: 5px;
          padding-top: 13px; }
      #profile_settings_contentarea #posts div.tab-pane .user-articles .article:hover .button-row {
        opacity: 1;
        z-index: 5; }
      #profile_settings_contentarea #posts div.tab-pane .user-articles .article hr {
        margin: 0px; }
  #profile_settings_contentarea #posts .nav-tabs.nav-justified > li a {
    color: black;
    font-family: bebasbold;
    font-size: 30px;
    border-radius: 0;
    border: none;
    background-color: #EFF0EF; }
  #profile_settings_contentarea #posts .nav-tabs.nav-justified > li.active > a {
    background-color: white; }
  #profile_settings_contentarea div.tab-pane {
    padding: 70px;
    padding-bottom: 15px;
    background: #EFF0EF; }
  #profile_settings_contentarea p {
    color: grey;
    margin-bottom: 5px; }
    #profile_settings_contentarea p.forgotpassword {
      font-size: 10px;
      color: blue; }
  #profile_settings_contentarea .nav-tabs.nav-justified > li a {
    color: black;
    font-family: bebasbold;
    font-size: 30px;
    border-radius: 0;
    border: none;
    background-color: white; }
  #profile_settings_contentarea .nav-tabs.nav-justified > li.active > a {
    background-color: #EFF0EF; }
  #profile_settings_contentarea #drop_box_profile_photo {
    border: 4px dashed lightgrey;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    display: inline-block;
    cursor: pointer;
    position: relative; }
    #profile_settings_contentarea #drop_box_profile_photo .upload_cover_icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 50px;
      width: 50px;
      background: url("..//img/icons/upload.png") 0 0 no-repeat;
      z-index: 1; }
    #profile_settings_contentarea #drop_box_profile_photo .upload_cover_text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-top: 70px;
      z-index: 1; }
      #profile_settings_contentarea #drop_box_profile_photo .upload_cover_text p {
        font-family: bebasbold;
        color: lightgrey;
        font-size: 20px; }
    #profile_settings_contentarea #drop_box_profile_photo #profile_cover_preview {
      border-radius: 50%;
      width: 100%;
      background-repeat: no-repeat;
      padding: 2px;
      background-color: white; }
    #profile_settings_contentarea #drop_box_profile_photo:hover .upload_cover_icon {
      display: block !important; }
    #profile_settings_contentarea #drop_box_profile_photo:hover .upload_cover_text {
      display: block !important; }
  #profile_settings_contentarea .crop-area {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 10px; }
  #profile_settings_contentarea .name-email-area, #profile_settings_contentarea .change-password-area {
    padding-bottom: 50px; }
    #profile_settings_contentarea .name-email-area input, #profile_settings_contentarea .name-email-area country-select, #profile_settings_contentarea .name-email-area select, #profile_settings_contentarea .change-password-area input, #profile_settings_contentarea .change-password-area country-select, #profile_settings_contentarea .change-password-area select {
      margin-top: 20px;
      font-size: 20px;
      height: 30px;
      font-family: helvetica;
      outline: none;
      border: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      border-bottom: 2px solid lightgray !important;
      background-color: #EFF0EF;
      width: 100%; }
    #profile_settings_contentarea .name-email-area country-select, #profile_settings_contentarea .name-email-area select, #profile_settings_contentarea .change-password-area country-select, #profile_settings_contentarea .change-password-area select {
      background-color: white;
      border: 2px solid lightgray !important; }
    #profile_settings_contentarea .name-email-area textarea, #profile_settings_contentarea .change-password-area textarea {
      font-family: helvetica;
      color: grey;
      font-size: 25px;
      width: 100%;
      height: auto;
      outline: none;
      border: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      resize: none;
      padding: 2px;
      min-height: 144px; }
    #profile_settings_contentarea .name-email-area button, #profile_settings_contentarea .change-password-area button {
      border: 0;
      padding-top: 1px; }
    #profile_settings_contentarea .name-email-area hr, #profile_settings_contentarea .change-password-area hr {
      margin-bottom: 40px;
      border-color: lightgrey; }
    #profile_settings_contentarea .name-email-area .password-header, #profile_settings_contentarea .change-password-area .password-header {
      margin-bottom: 50px; }
    #profile_settings_contentarea .name-email-area .button, #profile_settings_contentarea .change-password-area .button {
      margin-top: 30px; }
