#profile_contentarea {
  color: black;
  margin-top: 64px;
  padding: 15px; }
  #profile_contentarea p {
    color: grey;
    font-family: helvetica; }
  #profile_contentarea .ellipsis-7 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    /* fallback */
    max-height: 112px;
    /* fallback */
    -webkit-line-clamp: 7;
    /* number of lines to show */
    -webkit-box-orient: vertical; }
  #profile_contentarea #home_header img.profile-photo {
    height: 130px;
    border-radius: 50%; }
  #profile_contentarea #home_header .profile-info {
    font-family: bebasbold; }
  #profile_contentarea #home_header hr {
    margin: 0px;
    margin-top: 25px;
    border: none;
    height: 3px;
    color: #eee;
    /* old IE */
    background-color: #eee; }
  #profile_contentarea .user-articles .article {
    cursor: pointer;
    height: 220px; }
    #profile_contentarea .user-articles .article .article-content {
      position: relative;
      height: 100%; }
      #profile_contentarea .user-articles .article .article-content img {
        max-height: 100%;
        max-width: 200px;
        padding: 15px;
        padding-left: 0; }
      #profile_contentarea .user-articles .article .article-content h2 {
        font-family: bebasbold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      #profile_contentarea .user-articles .article .article-content .timestamp {
        font-size: 10px;
        position: absolute;
        bottom: 0;
        left: 200px; }
      #profile_contentarea .user-articles .article .article-content .views {
        font-size: 10px;
        position: absolute;
        bottom: 0;
        right: 0; }
      #profile_contentarea .user-articles .article .article-content .no-articles {
        margin-top: 100px;
        margin-bottom: 100px; }
    #profile_contentarea .user-articles .article hr {
      margin: 0px; }
