.publish-modal .modal-dialog {
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 100px;
  width: 1000px; }
  .publish-modal .modal-dialog #publish_modal {
    padding: 0px; }
    .publish-modal .modal-dialog #publish_modal .modal-header {
      padding: 5px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      background: black;
      margin-bottom: 15px; }
      .publish-modal .modal-dialog #publish_modal .modal-header h3 {
        font-family: bebasbold;
        color: white;
        margin: 5px;
        font-size: 40px; }
    .publish-modal .modal-dialog #publish_modal .title-area h4 {
      font-family: bebasbold;
      font-size: 35px; }
    .publish-modal .modal-dialog #publish_modal .cover-area {
      margin-bottom: 15px; }
      .publish-modal .modal-dialog #publish_modal .cover-area img {
        width: 100%; }
    .publish-modal .modal-dialog #publish_modal .link-area {
      margin-bottom: 35px; }
      .publish-modal .modal-dialog #publish_modal .link-area h4 {
        font-size: 30px;
        font-family: helveticaderp; }
      .publish-modal .modal-dialog #publish_modal .link-area a {
        font-size: 20px; }
    .publish-modal .modal-dialog #publish_modal .facebook-link-area {
      margin-bottom: 10px; }
    .publish-modal .modal-dialog #publish_modal .button-area {
      margin: 10px; }
      .publish-modal .modal-dialog #publish_modal .button-area button {
        border: 0;
        padding-top: 1px;
        margin: 10px; }
