@font-face {
  font-family: bebasbold;
  src: url("../font/BebasNeueBold.ttf"); }

@font-face {
  font-family: helveticaderp;
  src: url("../font/HelveticaNeue.ttf"); }

#header {
  position: fixed;
  height: 64px;
  background-color: #1E1E1E;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }
  #header.withshadow {
    -webkit-box-shadow: 0px 17px 90px 9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 17px 90px 9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 17px 90px 9px rgba(0, 0, 0, 0.75); }
  #header #headerleft {
    height: 64px;
    float: left;
    margin: 0;
    padding: 0; }
    #header #headerleft #header-logo {
      width: 190px;
      height: 32px;
      margin: 16px 0 50px 30px;
      padding: 0;
      background: transparent url("..//img/logo-header-double.jpg") 0 0 no-repeat;
      text-indent: -9999em; }
      #header #headerleft #header-logo a {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
        filter: alpha(opacity=0);
        display: block;
        width: 190px;
        height: 32px;
        margin: 0;
        padding: 0;
        text-decoration: none;
        background: transparent url("..//img/logo-header-double.jpg") 0 -32px no-repeat;
        transition-property: opacity;
        transition-duration: 0.5s;
        transition-timing-function: ease-out;
        -moz-transition-property: opacity;
        -moz-transition-duration: 0.5s;
        -webkit-transition-property: opacity;
        -webkit-transition-duration: 0.5s;
        -o-transition-property: opacity;
        -o-transition-duration: 0.5s;
        -ms-transition-property: opacity;
        -ms-transition-duration: 0.5s; }
        #header #headerleft #header-logo a:hover {
          opacity: 1;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=1)";
          filter: alpha(opacity=1);
          transition-property: opacity;
          transition-duration: 0.2s;
          transition-timing-function: ease-out;
          -moz-transition-property: opacity;
          -moz-transition-duration: 0.2s;
          -webkit-transition-property: opacity;
          -webkit-transition-duration: 0.2s;
          -o-transition-property: opacity;
          -o-transition-duration: 0.2s;
          -ms-transition-property: opacity;
          -ms-transition-duration: 0.2s; }
    #header #headerleft li {
      padding: 0;
      margin: 0;
      height: 64px;
      display: inline-block; }
      #header #headerleft li a {
        display: block;
        height: 64px;
        line-height: 64px;
        color: #1E1E1E;
        font-size: 10px;
        margin-left: 40px;
        letter-spacing: 1px;
        -webkit-transition: 300ms;
        -moz-transition: 300ms;
        -o-transition: 300ms;
        transition: 300ms; }
  #header #headerright {
    height: 64px;
    float: right;
    margin: 0;
    padding: 0;
    padding-top: 7px; }
    #header #headerright li {
      padding: 0;
      margin: 0;
      margin-right: 18px;
      height: 64px;
      display: inline-block;
      float: left; }
      #header #headerright li a {
        color: #FFFFFF;
        font-family: azomedium;
        font-size: 12px; }
        #header #headerright li a.active {
          opacity: 0.5; }
        #header #headerright li a .menu-arrow {
          cursor: pointer;
          width: 50px;
          height: 50px;
          background: url("..//img/icons/expand_arrow_white.png") 0 0 no-repeat;
          opacity: 1; }
          #header #headerright li a .menu-arrow:hover {
            opacity: 0.8; }
    #header #headerright #headerprofilephoto {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      margin-top: 3px; }
      #header #headerright #headerprofilephoto img {
        width: 50px;
        height: 50px;
        border-radius: 50%; }
        #header #headerright #headerprofilephoto img:hover {
          opacity: 0.5; }
    #header #headerright #home_icon {
      cursor: pointer; }
      #header #headerright #home_icon a {
        font-size: 14px; }
      #header #headerright #home_icon i {
        color: white; }
        #header #headerright #home_icon i:hover {
          opacity: 0.5; }

#headerrightmenu {
  position: absolute;
  top: 64px;
  right: 0;
  background-color: white;
  width: 160px;
  z-index: 999;
  line-height: 0;
  padding-left: 0;
  text-align: left; }
  #headerrightmenu .list-group {
    margin-bottom: 0; }
    #headerrightmenu .list-group a {
      border-radius: 0;
      color: #1E1E1E;
      background-color: white; }
      #headerrightmenu .list-group a:hover {
        color: white;
        background-color: #1E1E1E; }

/* Buttons */
.button {
  display: inline-block;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  color: white;
  font-size: 20px;
  font-family: bebasbold; }
  .button:focus {
    outline: 0;
    text-decoration: none;
    color: white; }
  .button[disabled] {
    opacity: 0.5 !important; }
  .button[disabled]:hover {
    opacity: 0.5 !important; }
  .button.uniform {
    width: 80px;
    height: 36px;
    border-radius: 10px;
    text-align: center;
    padding-top: 4px; }
  .button:hover {
    text-decoration: none;
    color: white;
    opacity: 0.8; }
  .button.red {
    background-color: #FF5A5F; }
  .button.green {
    background-color: #51AF71; }
  .button.blue {
    background-color: #47BBEA; }

#home_contentarea {
  color: black;
  margin-top: 64px; }
  #home_contentarea p {
    color: grey;
    font-family: helvetica; }
  #home_contentarea .ellipsis-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.1;
    /* fallback */
    max-height: 2.2;
    /* fallback */
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical; }
  #home_contentarea .ellipsis-7 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    /* fallback */
    max-height: 80px;
    /* fallback */
    -webkit-line-clamp: 5;
    /* number of lines to show */
    -webkit-box-orient: vertical; }
  #home_contentarea .home-container {
    padding: 0;
    margin-bottom: 40px; }
    #home_contentarea .home-container .home_background {
      background: url("..//img/crowd-homepage-min.jpg") no-repeat;
      background-position: 50% 70%;
      background-size: cover;
      height: 350px; }
      #home_contentarea .home-container .home_background h1 {
        position: absolute;
        font-family: bebasbold;
        font-size: 70px;
        text-align: center;
        bottom: 0;
        color: white;
        width: 100%;
        text-shadow: 5px 5px black; }
  #home_contentarea .row-articles {
    margin-bottom: 50px; }
    #home_contentarea .row-articles .custom-header a {
      font-size: 25px; }
    #home_contentarea .row-articles .articles .article {
      cursor: pointer;
      height: 220px;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      #home_contentarea .row-articles .articles .article:hover {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05); }
      #home_contentarea .row-articles .articles .article.ng-enter-stagger {
        transition-delay: 0.3s;
        transition-duration: 0;
        animation-delay: 0.3s;
        animation-duration: 0s; }
      #home_contentarea .row-articles .articles .article.ng-enter {
        animation: 1s;
        transition: 1s;
        opacity: 0; }
      #home_contentarea .row-articles .articles .article.ng-enter-active {
        opacity: 1; }
      #home_contentarea .row-articles .articles .article .article-content {
        position: relative;
        height: 100%; }
        #home_contentarea .row-articles .articles .article .article-content .no-mobile {
          height: 100%; }
          #home_contentarea .row-articles .articles .article .article-content .no-mobile img {
            height: 100%;
            width: 220px;
            padding: 10px; }
          #home_contentarea .row-articles .articles .article .article-content .no-mobile .author {
            color: black; }
          #home_contentarea .row-articles .articles .article .article-content .no-mobile h2 {
            font-family: bebasbold;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
          #home_contentarea .row-articles .articles .article .article-content .no-mobile .timestamp {
            font-size: 10px;
            position: absolute;
            bottom: 0;
            left: 220px; }
          #home_contentarea .row-articles .articles .article .article-content .no-mobile .views {
            font-size: 10px;
            position: absolute;
            bottom: 0;
            right: 0; }
        #home_contentarea .row-articles .articles .article .article-content .article-mobile img {
          width: 100%;
          margin-top: 20px;
          padding: 10px; }
        #home_contentarea .row-articles .articles .article .article-content .article-mobile .author {
          color: black; }
        #home_contentarea .row-articles .articles .article .article-content .article-mobile h2 {
          font-family: bebasbold;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 50px; }
        #home_contentarea .row-articles .articles .article .article-content .article-mobile .timestamp {
          font-size: 20px; }
        #home_contentarea .row-articles .articles .article .article-content .article-mobile .views {
          font-size: 20px; }
      #home_contentarea .row-articles .articles .article hr {
        width: 100%;
        margin: 0px;
        border-top: 2px solid #eee; }
    #home_contentarea .row-articles .top-posts {
      text-align: center; }
      #home_contentarea .row-articles .top-posts h2 {
        font-family: bebasbold;
        letter-spacing: 2px;
        margin-bottom: 30px;
        font-size: 35px; }
      #home_contentarea .row-articles .top-posts .post {
        cursor: pointer;
        height: 220px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        height: 300px; }
        #home_contentarea .row-articles .top-posts .post:hover {
          -webkit-transform: scale(1.02);
          -moz-transform: scale(1.02);
          -ms-transform: scale(1.02);
          -o-transform: scale(1.02);
          transform: scale(1.02); }
        #home_contentarea .row-articles .top-posts .post img {
          width: 100%; }
        #home_contentarea .row-articles .top-posts .post .info-area .author {
          margin-top: 80px;
          font-family: bebasbold;
          color: black;
          font-size: 20px; }
        #home_contentarea .row-articles .top-posts .post .info-area .index {
          font-size: 40px;
          color: black;
          position: relative; }
        #home_contentarea .row-articles .top-posts .post .info-area .views {
          font-family: bebasbold;
          clear: both;
          margin-top: 90px;
          color: black;
          font-size: 20px; }
        #home_contentarea .row-articles .top-posts .post .title {
          font-family: bebasbold;
          color: black;
          font-size: 30px;
          padding: 10px;
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          line-height: 1.3;
          /* fallback */
          max-height: 2.6;
          /* fallback */
          -webkit-line-clamp: 2;
          /* number of lines to show */
          -webkit-box-orient: vertical; }
        #home_contentarea .row-articles .top-posts .post hr {
          border-top: 2px solid #eee;
          width: 97%; }
    #home_contentarea .row-articles .top-users {
      text-align: center; }
      #home_contentarea .row-articles .top-users h2 {
        font-family: bebasbold;
        letter-spacing: 2px;
        margin-bottom: 30px;
        font-size: 35px; }
      #home_contentarea .row-articles .top-users .user {
        cursor: pointer;
        height: 220px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        height: 300px; }
        #home_contentarea .row-articles .top-users .user:hover {
          -webkit-transform: scale(1.02);
          -moz-transform: scale(1.02);
          -ms-transform: scale(1.02);
          -o-transform: scale(1.02);
          transform: scale(1.02); }
        #home_contentarea .row-articles .top-users .user img {
          width: 100%;
          margin-right: 50px; }
        #home_contentarea .row-articles .top-users .user .index {
          font-size: 40px;
          color: black; }
        #home_contentarea .row-articles .top-users .user .views {
          text-align: left;
          font-family: bebasbold;
          clear: both;
          margin-top: 130px;
          color: black;
          font-size: 20px; }
        #home_contentarea .row-articles .top-users .user hr {
          border-top: 2px solid #eee;
          width: 97%; }
        #home_contentarea .row-articles .top-users .user .first-name {
          font-family: bebasbold;
          color: black;
          font-size: 20px;
          text-align: left; }
        #home_contentarea .row-articles .top-users .user .last-name {
          font-family: bebasbold;
          color: black;
          font-size: 20px;
          text-align: left;
          margin-bottom: 40px; }
        #home_contentarea .row-articles .top-users .user .user-name {
          font-family: bebasbold;
          color: black;
          font-size: 20px;
          text-align: left; }
    #home_contentarea .row-articles button.load-more {
      border: 0;
      padding: 4px;
      padding-left: 10px;
      padding-right: 10px;
      width: auto;
      margin: 0;
      margin-top: 10px; }
  #home_contentarea .home-button-row {
    height: 200px;
    padding-top: 10px; }
    #home_contentarea .home-button-row a.uniform {
      width: 110px;
      height: 50px;
      border-radius: 4px;
      text-align: center;
      padding-top: 12px;
      margin: 5px; }

.login-modal .modal-dialog {
  border-radius: 0;
  margin: auto;
  margin-top: 100px;
  width: 400px; }
  .login-modal .modal-dialog #loginmodal div.tab-pane {
    padding: 20px; }
  .login-modal .modal-dialog #loginmodal p {
    color: grey;
    margin-bottom: 5px; }
    .login-modal .modal-dialog #loginmodal p.forgotpassword {
      font-size: 10px;
      color: blue;
      cursor: pointer; }
    .login-modal .modal-dialog #loginmodal p.error-message {
      color: red; }
  .login-modal .modal-dialog #loginmodal button.signin {
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
    font-family: bebasbold;
    font-size: 20px; }
    .login-modal .modal-dialog #loginmodal button.signin[disabled] {
      opacity: 0.7 !important; }
  .login-modal .modal-dialog #loginmodal input {
    border: solid 1px lightgrey;
    width: 100%;
    margin-bottom: 10px;
    height: 35px; }
  .login-modal .modal-dialog #loginmodal .nav-tabs.nav-justified > li > a {
    color: black;
    font-size: 20px;
    border-radius: 0;
    border-bottom: none; }
  .login-modal .modal-dialog #loginmodal li {
    background-color: lightgrey; }

.create-post-modal .modal-dialog {
  border-radius: 0;
  margin: auto;
  margin-top: 100px;
  width: 700px; }
  .create-post-modal .modal-dialog #create_postmodal #post_header {
    background-color: #1E1E1E; }
    .create-post-modal .modal-dialog #create_postmodal #post_header h2 {
      color: white;
      font-family: bebasBold;
      text-align: center;
      margin: 0;
      font-size: 40px;
      padding-top: 7px; }
  .create-post-modal .modal-dialog #create_postmodal #post_body {
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px; }
    .create-post-modal .modal-dialog #create_postmodal #post_body .type-square {
      height: 200px;
      padding: 20px; }
      .create-post-modal .modal-dialog #create_postmodal #post_body .type-square div {
        height: 100%;
        border: 1px solid black;
        border-radius: 7px;
        cursor: pointer;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        position: relative; }
        .create-post-modal .modal-dialog #create_postmodal #post_body .type-square div:first-child {
          margin-right: 10px; }
        .create-post-modal .modal-dialog #create_postmodal #post_body .type-square div:last-child {
          margin-left: 10px; }
        .create-post-modal .modal-dialog #create_postmodal #post_body .type-square div h3 {
          font-family: bebasBold;
          text-align: center; }
        .create-post-modal .modal-dialog #create_postmodal #post_body .type-square div img {
          display: block;
          margin: auto; }
        .create-post-modal .modal-dialog #create_postmodal #post_body .type-square div p {
          color: grey;
          text-align: center;
          margin-left: 10px;
          margin-right: 10px; }
        .create-post-modal .modal-dialog #create_postmodal #post_body .type-square div:hover {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
          transform: scale(1.1); }
          .create-post-modal .modal-dialog #create_postmodal #post_body .type-square div:hover.feature {
            background-color: lightgreen; }
          .create-post-modal .modal-dialog #create_postmodal #post_body .type-square div:hover.review {
            background-color: lightpink; }
          .create-post-modal .modal-dialog #create_postmodal #post_body .type-square div:hover.gig-photos {
            background-color: lightblue; }
          .create-post-modal .modal-dialog #create_postmodal #post_body .type-square div:hover.slideshow {
            background-color: lightyellow; }
          .create-post-modal .modal-dialog #create_postmodal #post_body .type-square div:hover.musicnews {
            background-color: lightseagreen; }

.preview-article-modal .modal-dialog {
  border-radius: 10px;
  border: 1px solid black;
  margin: auto;
  margin-top: 100px;
  width: 700px; }
  .preview-article-modal .modal-dialog #postmodal_preview {
    padding: 20px; }
    .preview-article-modal .modal-dialog #postmodal_preview .headline {
      width: 100%;
      font-family: bebasbold;
      font-size: 60px; }
    .preview-article-modal .modal-dialog #postmodal_preview .subtitle {
      width: 100%;
      font-size: 25px;
      font-family: helvetica;
      color: grey; }
    .preview-article-modal .modal-dialog #postmodal_preview .cover_photo {
      margin-top: 25px;
      margin-bottom: 25px;
      width: 100%; }
    .preview-article-modal .modal-dialog #postmodal_preview .story {
      size: 18px;
      width: 100%;
      height: auto;
      font-size: 18px;
      font-family: helvetica; }
    .preview-article-modal .modal-dialog #postmodal_preview .scalable-16-9 {
      width: 100%;
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 35px;
      height: 0;
      overflow: hidden; }
      .preview-article-modal .modal-dialog #postmodal_preview .scalable-16-9 iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }

.preview-slideshow-modal .modal-dialog {
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 100px;
  width: 1000px; }
  .preview-slideshow-modal .modal-dialog #slideshow_preview_modal {
    background-color: #1E1E1E;
    height: 550px;
    padding: 20px; }
    .preview-slideshow-modal .modal-dialog #slideshow_preview_modal .headline {
      color: white;
      width: 100%;
      font-family: bebasbold;
      font-size: 40px;
      margin: 0px; }
    .preview-slideshow-modal .modal-dialog #slideshow_preview_modal .subtitle {
      width: 100%;
      font-size: 20px;
      font-family: helvetica;
      color: grey;
      margin: 0px;
      margin-bottom: 10px; }
    .preview-slideshow-modal .modal-dialog #slideshow_preview_modal .cover_photo {
      margin-top: 25px;
      margin-bottom: 25px;
      width: 100%; }
    .preview-slideshow-modal .modal-dialog #slideshow_preview_modal .story {
      width: 100%;
      height: auto;
      font-size: 15px;
      font-family: helvetica;
      color: lightgrey; }
    .preview-slideshow-modal .modal-dialog #slideshow_preview_modal .scalable-16-9 {
      width: 100%;
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 35px;
      height: 0;
      overflow: hidden; }
      .preview-slideshow-modal .modal-dialog #slideshow_preview_modal .scalable-16-9 iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    .preview-slideshow-modal .modal-dialog #slideshow_preview_modal .slideshow .carousel-control {
      background-image: none; }
      .preview-slideshow-modal .modal-dialog #slideshow_preview_modal .slideshow .carousel-control span {
        cursor: pointer; }
    .preview-slideshow-modal .modal-dialog #slideshow_preview_modal .slideshow .carousel-indicators {
      display: none; }
    .preview-slideshow-modal .modal-dialog #slideshow_preview_modal .story-container {
      height: 400px;
      overflow-y: auto; }

#loadingmodal {
  padding: 10px; }
  #loadingmodal .img-preview {
    width: 100%; }
  #loadingmodal .progress-text {
    text-align: center; }
  #loadingmodal a.button.uniform.green {
    margin-left: 20px; }
  #loadingmodal .error-area {
    padding-left: 0px !important; }
    #loadingmodal .error-area .error-image img {
      margin-top: 17px;
      width: 100%; }

.crop-modal .modal-dialog {
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 100px;
  width: 1000px; }
  .crop-modal .modal-dialog #crop_modal {
    padding: 0px; }
    .crop-modal .modal-dialog #crop_modal .modal-header {
      padding: 5px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      background: black;
      margin-bottom: 15px; }
      .crop-modal .modal-dialog #crop_modal .modal-header h3 {
        font-family: bebasbold;
        color: white;
        margin: 5px;
        font-size: 40px; }
    .crop-modal .modal-dialog #crop_modal .preview-area {
      border-right: 2px solid lightgrey;
      padding: 20px;
      margin-bottom: 20px; }
      .crop-modal .modal-dialog #crop_modal .preview-area img {
        border: 2px dashed black;
        width: 100%; }
    .crop-modal .modal-dialog #crop_modal .crop-area {
      padding: 20px;
      width: 100%;
      height: 400px; }
      .crop-modal .modal-dialog #crop_modal .crop-area img {
        width: 100px; }
    .crop-modal .modal-dialog #crop_modal .button-area {
      margin: 10px; }
      .crop-modal .modal-dialog #crop_modal .button-area button {
        border: 0;
        padding-top: 1px;
        margin: 10px; }

.publish-modal .modal-dialog {
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 100px;
  width: 1000px; }
  .publish-modal .modal-dialog #publish_modal {
    padding: 0px; }
    .publish-modal .modal-dialog #publish_modal .modal-header {
      padding: 5px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      background: black;
      margin-bottom: 15px; }
      .publish-modal .modal-dialog #publish_modal .modal-header h3 {
        font-family: bebasbold;
        color: white;
        margin: 5px;
        font-size: 40px; }
    .publish-modal .modal-dialog #publish_modal .title-area h4 {
      font-family: bebasbold;
      font-size: 35px; }
    .publish-modal .modal-dialog #publish_modal .cover-area {
      margin-bottom: 15px; }
      .publish-modal .modal-dialog #publish_modal .cover-area img {
        width: 100%; }
    .publish-modal .modal-dialog #publish_modal .link-area {
      margin-bottom: 35px; }
      .publish-modal .modal-dialog #publish_modal .link-area h4 {
        font-size: 30px;
        font-family: helveticaderp; }
      .publish-modal .modal-dialog #publish_modal .link-area a {
        font-size: 20px; }
    .publish-modal .modal-dialog #publish_modal .facebook-link-area {
      margin-bottom: 10px; }
    .publish-modal .modal-dialog #publish_modal .button-area {
      margin: 10px; }
      .publish-modal .modal-dialog #publish_modal .button-area button {
        border: 0;
        padding-top: 1px;
        margin: 10px; }

.confirm-signup-modal .modal-dialog {
  border-radius: 10px;
  border: none;
  margin-top: 100px;
  width: 700px; }
  .confirm-signup-modal .modal-dialog #confirm_signup_modal {
    border-radius: 10px;
    padding: 0px; }
    .confirm-signup-modal .modal-dialog #confirm_signup_modal .modal-header {
      padding: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background: black;
      margin-bottom: 15px; }
      .confirm-signup-modal .modal-dialog #confirm_signup_modal .modal-header h3 {
        font-family: bebasbold;
        color: white;
        margin: 5px;
        font-size: 40px; }
    .confirm-signup-modal .modal-dialog #confirm_signup_modal .text-area {
      margin-bottom: 30px; }
      .confirm-signup-modal .modal-dialog #confirm_signup_modal .text-area h4 {
        font-family: bebasbold;
        font-size: 35px; }
    .confirm-signup-modal .modal-dialog #confirm_signup_modal .button-area {
      margin: 10px; }
      .confirm-signup-modal .modal-dialog #confirm_signup_modal .button-area button {
        border: 0;
        padding-top: 1px;
        margin: 10px; }

#create_feature_contentarea {
  color: black;
  margin-top: 64px;
  padding: 15px; }
  #create_feature_contentarea #drop_box {
    border: 4px dashed lightgrey;
    width: 100%;
    min-height: 250px;
    text-align: center;
    margin-top: 2px;
    display: inline-block;
    position: relative;
    border-radius: 2%; }
    #create_feature_contentarea #drop_box .upload_cover_icon {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      height: 50px;
      width: 50px;
      background: url("..//img/icons/upload.png") 0 0 no-repeat;
      z-index: 3; }
    #create_feature_contentarea #drop_box .upload_cover_text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      padding-top: 70px;
      z-index: 1; }
      #create_feature_contentarea #drop_box .upload_cover_text p {
        font-family: helvetica;
        color: lightgrey;
        font-size: 16px; }
    #create_feature_contentarea #drop_box #feature_cover_preview {
      width: 100%;
      background-repeat: no-repeat; }
    #create_feature_contentarea #drop_box:hover .upload_cover_icon {
      display: block !important; }
    #create_feature_contentarea #drop_box:hover .upload_cover_text {
      display: block !important; }
    #create_feature_contentarea #drop_box:hover + .crop-btn {
      display: block !important; }
  #create_feature_contentarea p.photo-credit {
    color: grey;
    line-height: 26px; }
  #create_feature_contentarea .crop-btn {
    position: absolute;
    top: 10px;
    right: 22px;
    border: 0;
    padding-top: 1px;
    margin: 10px;
    background: #F5D04C; }
    #create_feature_contentarea .crop-btn:hover {
      display: block !important; }
  #create_feature_contentarea input.cover-credit {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 9px;
    padding-right: 9px;
    border: none;
    border: 2px solid lightgrey;
    border-radius: 15px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }
  #create_feature_contentarea #feature_area {
    font-family: helvetica;
    color: grey; }
    #create_feature_contentarea #feature_area .btn-group {
      margin-bottom: 10px !important; }
    #create_feature_contentarea #feature_area input {
      outline: none;
      border: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      line-height: normal; }
    #create_feature_contentarea #feature_area textarea {
      width: 100%;
      height: auto;
      outline: none;
      border: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      resize: none;
      overflow: hidden; }
    #create_feature_contentarea #feature_area .headline textarea {
      color: black;
      font-family: helvetica;
      font-size: 60px;
      height: 60px;
      line-height: 60px; }
    #create_feature_contentarea #feature_area .subtitle textarea {
      color: black;
      font-size: 25px;
      height: 25px; }
    #create_feature_contentarea #feature_area .story .ta-editor {
      min-height: 300px;
      height: auto;
      overflow: auto;
      font-family: helvetica;
      font-size: 100%; }
  #create_feature_contentarea #button_row button {
    border: 0;
    padding-top: 1px; }
  #create_feature_contentarea #button_row a {
    margin: 10px; }

#create_slideshow_contentarea {
  color: black;
  margin-top: 64px;
  padding: 15px; }
  #create_slideshow_contentarea #drop_box {
    border: 4px dashed lightgrey;
    width: 100%;
    min-height: 250px;
    text-align: center;
    margin-top: 2px;
    display: inline-block;
    position: relative;
    border-radius: 2%; }
    #create_slideshow_contentarea #drop_box .upload_cover_icon {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      height: 50px;
      width: 50px;
      background: url("..//img/icons/upload.png") 0 0 no-repeat;
      z-index: 3; }
    #create_slideshow_contentarea #drop_box .upload_cover_text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      padding-top: 70px;
      z-index: 1; }
      #create_slideshow_contentarea #drop_box .upload_cover_text p {
        font-family: helvetica;
        color: lightgrey;
        font-size: 16px; }
    #create_slideshow_contentarea #drop_box #slideshow_cover_preview {
      width: 100%;
      background-repeat: no-repeat; }
    #create_slideshow_contentarea #drop_box:hover .upload_cover_icon {
      display: block !important; }
    #create_slideshow_contentarea #drop_box:hover .upload_cover_text {
      display: block !important; }
    #create_slideshow_contentarea #drop_box:hover + .crop-btn {
      display: block !important; }
  #create_slideshow_contentarea p.photo-credit {
    color: grey;
    line-height: 26px; }
  #create_slideshow_contentarea .crop-btn {
    position: absolute;
    top: 10px;
    right: 22px;
    border: 0;
    padding-top: 1px;
    margin: 10px;
    background: #F5D04C; }
    #create_slideshow_contentarea .crop-btn:hover {
      display: block !important; }
  #create_slideshow_contentarea input.cover-credit {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 9px;
    padding-right: 9px;
    border: none;
    border: 2px solid lightgrey;
    border-radius: 15px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }
  #create_slideshow_contentarea #drop_box_photos {
    border: 2px dashed #47BBEA;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    border-radius: 10%; }
    #create_slideshow_contentarea #drop_box_photos .upload_cover_icon {
      width: 100%;
      z-index: 1; }
      #create_slideshow_contentarea #drop_box_photos .upload_cover_icon p {
        padding-top: 10px;
        color: #47BBEA;
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 0; }
    #create_slideshow_contentarea #drop_box_photos .upload_cover_text {
      z-index: 1; }
      #create_slideshow_contentarea #drop_box_photos .upload_cover_text p {
        font-family: helvetica;
        color: #47BBEA;
        font-size: 12px; }
    #create_slideshow_contentarea #drop_box_photos #slideshow_cover_preview {
      width: 100%;
      background-repeat: no-repeat; }
    #create_slideshow_contentarea #drop_box_photos:hover .upload_cover_icon {
      display: block !important; }
    #create_slideshow_contentarea #drop_box_photos:hover .upload_cover_text {
      display: block !important; }
  #create_slideshow_contentarea #slideshow_area {
    font-family: helvetica;
    color: grey; }
    #create_slideshow_contentarea #slideshow_area input {
      outline: none;
      border: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      line-height: normal; }
    #create_slideshow_contentarea #slideshow_area textarea {
      width: 100%;
      height: auto;
      outline: none;
      border: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      resize: none;
      overflow: hidden;
      margin-top: 10px;
      margin-bottom: 10px; }
    #create_slideshow_contentarea #slideshow_area .headline textarea {
      color: black;
      text-align: center;
      font-family: helvetica;
      font-size: 60px;
      height: 60px;
      line-height: 60px; }
    #create_slideshow_contentarea #slideshow_area .subtitle textarea {
      color: black;
      text-align: center;
      font-size: 25px;
      height: 25px; }
  #create_slideshow_contentarea .story textarea {
    font-size: 20px; }
  #create_slideshow_contentarea .prefill-info .panel-group .panel-default {
    background-color: #e4e4e4;
    border-radius: 10px 10px 10px 10px; }
    #create_slideshow_contentarea .prefill-info .panel-group .panel-default.panel-open {
      border-radius: 10px 10px 10px 10px; }
    #create_slideshow_contentarea .prefill-info .panel-group .panel-default .panel-heading {
      border-radius: 10px 10px 10px 10px;
      background-color: #e4e4e4;
      padding: 0; }
    #create_slideshow_contentarea .prefill-info .panel-group .panel-default .panel-body {
      border: none;
      padding-top: none;
      border-radius: 10px 10px 0px 0px; }
    #create_slideshow_contentarea .prefill-info .panel-group .panel-default .panel-collapse {
      border-radius: 10px 10px 10px 10px; }
  #create_slideshow_contentarea .prefill-info input {
    width: 80%;
    margin-bottom: 10px;
    padding-left: 9px;
    padding-right: 9px;
    border: none;
    border-radius: 10px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }
  #create_slideshow_contentarea .prefill-info h2 {
    font-family: bebasbold;
    font-size: 20px;
    margin-top: 0; }
  #create_slideshow_contentarea .prefill-info p {
    margin: 0; }
  #create_slideshow_contentarea .prefill-info a {
    margin: 0; }
  #create_slideshow_contentarea textarea {
    font-family: helvetica;
    width: 100%;
    height: auto;
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    resize: none;
    color: grey; }
  #create_slideshow_contentarea #button_row button {
    border: 0;
    padding-top: 1px; }
  #create_slideshow_contentarea #button_row a {
    margin: 10px; }
  #create_slideshow_contentarea .image-grid .as-sortable-item .order-id {
    background-color: #51AF71;
    margin-bottom: 3px; }
  #create_slideshow_contentarea .image-grid .as-sortable-item .remove-image {
    background-color: red; }
    #create_slideshow_contentarea .image-grid .as-sortable-item .remove-image:hover {
      cursor: pointer; }
  #create_slideshow_contentarea .image-grid .as-sortable-item input {
    width: 100%;
    margin-bottom: 2px; }
  #create_slideshow_contentarea .image-grid .as-sortable-item .one-one {
    position: relative;
    border: 2px dashed #B4B5B4;
    margin: 5px; }
    #create_slideshow_contentarea .image-grid .as-sortable-item .one-one:before {
      display: block;
      content: " ";
      width: 100%;
      padding-top: 100%; }
    #create_slideshow_contentarea .image-grid .as-sortable-item .one-one > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center; }
      #create_slideshow_contentarea .image-grid .as-sortable-item .one-one > .content img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        padding: 5px; }
  #create_slideshow_contentarea .image-grid textarea {
    border: 1px solid grey !important;
    margin-bottom: 15px; }
  #create_slideshow_contentarea .image-grid .as-sortable-placeholder {
    border: 2px dashed #B4B5B4;
    background-color: lightgrey; }

.as-sortable-dragging .order-id {
  display: none; }

.as-sortable-dragging .remove-image {
  display: none; }

.as-sortable-dragging textarea {
  display: none; }

#create_review_contentarea {
  color: black;
  margin-top: 64px;
  padding: 15px; }
  #create_review_contentarea #drop_box {
    border: 4px dashed lightgrey;
    width: 100%;
    min-height: 250px;
    text-align: center;
    margin-top: 2px;
    display: inline-block;
    position: relative;
    border-radius: 2%; }
    #create_review_contentarea #drop_box .upload_cover_icon {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      height: 50px;
      width: 50px;
      background: url("..//img/icons/upload.png") 0 0 no-repeat;
      z-index: 3; }
    #create_review_contentarea #drop_box .upload_cover_text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      padding-top: 70px;
      z-index: 1; }
      #create_review_contentarea #drop_box .upload_cover_text p {
        font-family: helvetica;
        color: lightgrey;
        font-size: 16px; }
    #create_review_contentarea #drop_box #review_cover_preview {
      width: 100%;
      background-repeat: no-repeat; }
    #create_review_contentarea #drop_box:hover .upload_cover_icon {
      display: block !important; }
    #create_review_contentarea #drop_box:hover .upload_cover_text {
      display: block !important; }
    #create_review_contentarea #drop_box:hover + .crop-btn {
      display: block !important; }
  #create_review_contentarea p.photo-credit {
    color: grey;
    line-height: 26px; }
  #create_review_contentarea .crop-btn {
    position: absolute;
    top: 120px;
    right: 22px;
    border: 0;
    padding-top: 1px;
    margin: 10px;
    background: #F5D04C; }
    #create_review_contentarea .crop-btn:hover {
      display: block !important; }
  #create_review_contentarea #review_area {
    font-family: helvetica;
    color: grey; }
    #create_review_contentarea #review_area input {
      outline: none;
      border: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      line-height: normal; }
    #create_review_contentarea #review_area .story .ta-editor {
      min-height: 300px;
      height: auto;
      overflow: auto;
      font-family: helvetica;
      font-size: 100%; }
  #create_review_contentarea input.cover-credit {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 9px;
    padding-right: 9px;
    border: none;
    border: 2px solid lightgrey;
    border-radius: 15px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }
  #create_review_contentarea textarea {
    width: 100%;
    height: auto;
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    resize: none;
    overflow: hidden; }
  #create_review_contentarea .headline textarea {
    font-family: helvetica;
    font-size: 60px;
    height: 60px;
    line-height: 60px; }
  #create_review_contentarea .subtitle textarea {
    font-size: 25px;
    height: 25px; }
  #create_review_contentarea #button_row button {
    border: 0;
    padding-top: 1px; }
  #create_review_contentarea #button_row a {
    margin: 10px; }

#create_gigphotos_contentarea {
  color: black;
  margin-top: 64px;
  padding: 15px; }
  #create_gigphotos_contentarea #drop_box {
    border: 4px dashed lightgrey;
    width: 100%;
    min-height: 250px;
    text-align: center;
    margin-top: 2px;
    display: inline-block;
    position: relative;
    border-radius: 2%; }
    #create_gigphotos_contentarea #drop_box .upload_cover_icon {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      height: 50px;
      width: 50px;
      background: url("..//img/icons/upload.png") 0 0 no-repeat;
      z-index: 3; }
    #create_gigphotos_contentarea #drop_box .upload_cover_text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      padding-top: 70px;
      z-index: 1; }
      #create_gigphotos_contentarea #drop_box .upload_cover_text p {
        font-family: helvetica;
        color: lightgrey;
        font-size: 16px; }
    #create_gigphotos_contentarea #drop_box #gigphotos_cover_preview {
      width: 100%;
      background-repeat: no-repeat; }
    #create_gigphotos_contentarea #drop_box:hover .upload_cover_icon {
      display: block !important; }
    #create_gigphotos_contentarea #drop_box:hover .upload_cover_text {
      display: block !important; }
    #create_gigphotos_contentarea #drop_box:hover + .crop-btn {
      display: block !important; }
  #create_gigphotos_contentarea p.photo-credit {
    color: grey;
    line-height: 26px; }
  #create_gigphotos_contentarea .crop-btn {
    position: absolute;
    top: 10px;
    right: 22px;
    border: 0;
    padding-top: 1px;
    margin: 10px;
    background: #F5D04C; }
    #create_gigphotos_contentarea .crop-btn:hover {
      display: block !important; }
  #create_gigphotos_contentarea input.cover-credit {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 9px;
    padding-right: 9px;
    border: none;
    border: 2px solid lightgrey;
    border-radius: 15px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }
  #create_gigphotos_contentarea #drop_box_photos {
    border: 2px dashed #47BBEA;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    border-radius: 10%; }
    #create_gigphotos_contentarea #drop_box_photos .upload_cover_icon {
      width: 100%;
      z-index: 1; }
      #create_gigphotos_contentarea #drop_box_photos .upload_cover_icon p {
        padding-top: 10px;
        color: #47BBEA;
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 0; }
    #create_gigphotos_contentarea #drop_box_photos .upload_cover_text {
      z-index: 1; }
      #create_gigphotos_contentarea #drop_box_photos .upload_cover_text p {
        font-family: helvetica;
        color: #47BBEA;
        font-size: 12px; }
    #create_gigphotos_contentarea #drop_box_photos #gigphotos_cover_preview {
      width: 100%;
      background-repeat: no-repeat; }
    #create_gigphotos_contentarea #drop_box_photos:hover .upload_cover_icon {
      display: block !important; }
    #create_gigphotos_contentarea #drop_box_photos:hover .upload_cover_text {
      display: block !important; }
  #create_gigphotos_contentarea #gigphotos_area {
    font-family: helvetica;
    color: grey; }
    #create_gigphotos_contentarea #gigphotos_area input {
      outline: none;
      border: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      line-height: normal; }
    #create_gigphotos_contentarea #gigphotos_area textarea {
      width: 100%;
      height: auto;
      outline: none;
      border: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      resize: none;
      overflow: hidden;
      margin-top: 10px;
      margin-bottom: 10px; }
    #create_gigphotos_contentarea #gigphotos_area .headline textarea {
      color: black;
      text-align: center;
      font-family: helvetica;
      font-size: 60px;
      height: 60px;
      line-height: 60px; }
    #create_gigphotos_contentarea #gigphotos_area .subtitle textarea {
      color: black;
      text-align: center;
      font-size: 25px;
      height: 25px; }
  #create_gigphotos_contentarea .story textarea {
    font-size: 20px; }
  #create_gigphotos_contentarea .prefill-info .panel-group .panel-default {
    background-color: #e4e4e4;
    border-radius: 10px 10px 10px 10px; }
    #create_gigphotos_contentarea .prefill-info .panel-group .panel-default.panel-open {
      border-radius: 10px 10px 10px 10px; }
    #create_gigphotos_contentarea .prefill-info .panel-group .panel-default .panel-heading {
      border-radius: 10px 10px 10px 10px;
      background-color: #e4e4e4;
      padding: 0; }
    #create_gigphotos_contentarea .prefill-info .panel-group .panel-default .panel-body {
      border: none;
      padding-top: none;
      border-radius: 10px 10px 0px 0px; }
    #create_gigphotos_contentarea .prefill-info .panel-group .panel-default .panel-collapse {
      border-radius: 10px 10px 10px 10px; }
  #create_gigphotos_contentarea .prefill-info input {
    width: 80%;
    margin-bottom: 10px;
    padding-left: 9px;
    padding-right: 9px;
    border: none;
    border-radius: 10px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }
  #create_gigphotos_contentarea .prefill-info h2 {
    font-family: bebasbold;
    font-size: 20px;
    margin-top: 0; }
  #create_gigphotos_contentarea .prefill-info p {
    margin: 0; }
  #create_gigphotos_contentarea .prefill-info a {
    margin: 0; }
  #create_gigphotos_contentarea textarea {
    font-family: helvetica;
    width: 100%;
    height: auto;
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    resize: none;
    color: grey; }
  #create_gigphotos_contentarea #button_row button {
    border: 0;
    padding-top: 1px; }
  #create_gigphotos_contentarea #button_row a {
    margin: 10px; }
  #create_gigphotos_contentarea .image-grid .as-sortable-item {
    margin-bottom: 10px; }
    #create_gigphotos_contentarea .image-grid .as-sortable-item .order-id {
      background-color: #51AF71;
      margin-bottom: 3px; }
    #create_gigphotos_contentarea .image-grid .as-sortable-item .remove-image {
      background-color: red; }
      #create_gigphotos_contentarea .image-grid .as-sortable-item .remove-image:hover {
        cursor: pointer; }
    #create_gigphotos_contentarea .image-grid .as-sortable-item input {
      width: 100%;
      margin-bottom: 2px; }
    #create_gigphotos_contentarea .image-grid .as-sortable-item .one-one {
      position: relative;
      border: 2px dashed #B4B5B4;
      margin: 5px; }
      #create_gigphotos_contentarea .image-grid .as-sortable-item .one-one:before {
        display: block;
        content: " ";
        width: 100%;
        padding-top: 100%; }
      #create_gigphotos_contentarea .image-grid .as-sortable-item .one-one > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center; }
        #create_gigphotos_contentarea .image-grid .as-sortable-item .one-one > .content img {
          max-width: 100%;
          max-height: 100%;
          width: auto;
          height: auto;
          padding: 5px; }

.as-sortable-dragging .order-id {
  display: none; }

.as-sortable-dragging .remove-image {
  display: none; }

.as-sortable-dragging input {
  display: none;
  width: 400%;
  margin: 2px; }

.as-sortable-dragging .one-one .content img {
  width: 400%; }

.as-sortable-placeholder {
  border: 2px dashed #B4B5B4;
  background-color: lightgrey; }

#create_musicnews_contentarea {
  color: black;
  margin-top: 64px;
  padding: 15px; }
  #create_musicnews_contentarea #drop_box {
    border: 4px dashed lightgrey;
    width: 100%;
    min-height: 250px;
    text-align: center;
    margin-top: 2px;
    display: inline-block;
    position: relative;
    border-radius: 2%; }
    #create_musicnews_contentarea #drop_box .upload_cover_icon {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      height: 50px;
      width: 50px;
      background: url("..//img/icons/upload.png") 0 0 no-repeat;
      z-index: 3; }
    #create_musicnews_contentarea #drop_box .upload_cover_text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      padding-top: 70px;
      z-index: 1; }
      #create_musicnews_contentarea #drop_box .upload_cover_text p {
        font-family: helvetica;
        color: lightgrey;
        font-size: 16px; }
    #create_musicnews_contentarea #drop_box #musicnews_cover_preview {
      width: 100%;
      background-repeat: no-repeat; }
    #create_musicnews_contentarea #drop_box:hover .upload_cover_icon {
      display: block !important; }
    #create_musicnews_contentarea #drop_box:hover .upload_cover_text {
      display: block !important; }
    #create_musicnews_contentarea #drop_box:hover + .crop-btn {
      display: block !important; }
  #create_musicnews_contentarea p.photo-credit {
    color: grey;
    line-height: 26px; }
  #create_musicnews_contentarea .crop-btn {
    position: absolute;
    top: 10px;
    right: 22px;
    border: 0;
    padding-top: 1px;
    margin: 10px;
    background: #F5D04C; }
    #create_musicnews_contentarea .crop-btn:hover {
      display: block !important; }
  #create_musicnews_contentarea input.cover-credit {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 9px;
    padding-right: 9px;
    border: none;
    border: 2px solid lightgrey;
    border-radius: 15px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }
  #create_musicnews_contentarea #musicnews_area {
    font-family: helvetica;
    color: grey; }
    #create_musicnews_contentarea #musicnews_area .btn-group {
      margin-bottom: 10px !important; }
    #create_musicnews_contentarea #musicnews_area input {
      outline: none;
      border: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      line-height: normal; }
    #create_musicnews_contentarea #musicnews_area textarea {
      width: 100%;
      height: auto;
      outline: none;
      border: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      resize: none;
      overflow: hidden; }
    #create_musicnews_contentarea #musicnews_area .headline textarea {
      color: black;
      font-family: helvetica;
      font-size: 60px;
      height: 60px;
      line-height: 60px; }
    #create_musicnews_contentarea #musicnews_area .subtitle textarea {
      color: black;
      font-size: 25px;
      height: 25px; }
    #create_musicnews_contentarea #musicnews_area .story .ta-editor {
      min-height: 300px;
      height: auto;
      overflow: auto;
      font-family: helvetica;
      font-size: 100%; }
  #create_musicnews_contentarea #button_row button {
    border: 0;
    padding-top: 1px; }
  #create_musicnews_contentarea #button_row a {
    margin: 10px; }

#view_article_contentarea {
  color: black;
  margin-top: 64px;
  padding: 15px; }
  #view_article_contentarea .headline {
    width: 100%;
    font-family: bebasbold;
    font-size: 60px; }
  #view_article_contentarea .subtitle {
    width: 100%;
    font-size: 25px;
    font-family: helvetica;
    color: grey; }
  #view_article_contentarea .cover_photo {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%; }
  #view_article_contentarea .story {
    width: 100%;
    height: auto;
    font-size: 18px;
    font-family: helvetica; }

#profile_contentarea {
  color: black;
  margin-top: 64px;
  padding: 15px; }
  #profile_contentarea p {
    color: grey;
    font-family: helvetica; }
  #profile_contentarea .ellipsis-7 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    /* fallback */
    max-height: 112px;
    /* fallback */
    -webkit-line-clamp: 7;
    /* number of lines to show */
    -webkit-box-orient: vertical; }
  #profile_contentarea #home_header img.profile-photo {
    height: 130px;
    border-radius: 50%; }
  #profile_contentarea #home_header .profile-info {
    font-family: bebasbold; }
  #profile_contentarea #home_header hr {
    margin: 0px;
    margin-top: 25px;
    border: none;
    height: 3px;
    color: #eee;
    /* old IE */
    background-color: #eee; }
  #profile_contentarea .user-articles .article {
    cursor: pointer;
    height: 220px; }
    #profile_contentarea .user-articles .article .article-content {
      position: relative;
      height: 100%; }
      #profile_contentarea .user-articles .article .article-content img {
        max-height: 100%;
        max-width: 200px;
        padding: 15px;
        padding-left: 0; }
      #profile_contentarea .user-articles .article .article-content h2 {
        font-family: bebasbold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      #profile_contentarea .user-articles .article .article-content .timestamp {
        font-size: 10px;
        position: absolute;
        bottom: 0;
        left: 200px; }
      #profile_contentarea .user-articles .article .article-content .views {
        font-size: 10px;
        position: absolute;
        bottom: 0;
        right: 0; }
      #profile_contentarea .user-articles .article .article-content .no-articles {
        margin-top: 100px;
        margin-bottom: 100px; }
    #profile_contentarea .user-articles .article hr {
      margin: 0px; }

#profile_settings_contentarea {
  color: black;
  margin-top: 64px; }
  #profile_settings_contentarea a.uniform {
    width: 110px;
    height: 50px;
    border-radius: 4px;
    text-align: center;
    padding-top: 12px;
    margin: 5px; }
  #profile_settings_contentarea h2 {
    font-family: bebasbold;
    font-size: 30px;
    text-align: center; }
    #profile_settings_contentarea h2.profile-headline {
      text-align: left; }
  #profile_settings_contentarea h3 {
    text-align: center; }
    #profile_settings_contentarea h3.profile-link {
      color: darkturquoise;
      font-size: 25px; }
      #profile_settings_contentarea h3.profile-link a {
        color: darkturquoise; }
      #profile_settings_contentarea h3.profile-link input.username {
        background-color: #EFF0EF;
        border: none;
        outline: none;
        border: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important; }
  #profile_settings_contentarea a.save-username {
    margin: 10px;
    margin-bottom: 100px; }
  #profile_settings_contentarea .ellipsis-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.1;
    /* fallback */
    max-height: 2.2;
    /* fallback */
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical; }
  #profile_settings_contentarea .ellipsis-7 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    /* fallback */
    max-height: 112px;
    /* fallback */
    -webkit-line-clamp: 7;
    /* number of lines to show */
    -webkit-box-orient: vertical; }
  #profile_settings_contentarea #posts div.tab-pane {
    padding: 30px;
    background: white; }
    #profile_settings_contentarea #posts div.tab-pane .user-articles .article {
      cursor: pointer; }
      #profile_settings_contentarea #posts div.tab-pane .user-articles .article.ng-enter-stagger {
        transition-delay: 0.3s;
        transition-duration: 0;
        animation-delay: 0.3s;
        animation-duration: 0s; }
      #profile_settings_contentarea #posts div.tab-pane .user-articles .article.ng-enter {
        animation: 1s;
        transition: 1s;
        opacity: 0; }
      #profile_settings_contentarea #posts div.tab-pane .user-articles .article.ng-enter-active {
        opacity: 1; }
      #profile_settings_contentarea #posts div.tab-pane .user-articles .article .article-content {
        position: relative;
        height: 100%; }
        #profile_settings_contentarea #posts div.tab-pane .user-articles .article .article-content img {
          height: 220px;
          max-width: 220px;
          padding: 15px;
          padding-left: 0; }
        #profile_settings_contentarea #posts div.tab-pane .user-articles .article .article-content h2 {
          font-family: bebasbold;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        #profile_settings_contentarea #posts div.tab-pane .user-articles .article .article-content .timestamp {
          font-size: 10px;
          position: absolute;
          bottom: 5px;
          left: 220px; }
        #profile_settings_contentarea #posts div.tab-pane .user-articles .article .article-content .views {
          font-size: 10px;
          position: absolute;
          bottom: 0;
          right: 0; }
        #profile_settings_contentarea #posts div.tab-pane .user-articles .article .article-content p {
          font-size: 14px; }
        #profile_settings_contentarea #posts div.tab-pane .user-articles .article .article-content .no-articles {
          margin-top: 100px;
          margin-bottom: 100px; }
      #profile_settings_contentarea #posts div.tab-pane .user-articles .article .button-row {
        opacity: 0;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        margin-top: 30px; }
        #profile_settings_contentarea #posts div.tab-pane .user-articles .article .button-row a {
          cursor: pointer;
          width: 100%;
          height: 50px;
          margin: 5px;
          padding-top: 13px; }
      #profile_settings_contentarea #posts div.tab-pane .user-articles .article:hover .button-row {
        opacity: 1;
        z-index: 5; }
      #profile_settings_contentarea #posts div.tab-pane .user-articles .article hr {
        margin: 0px; }
  #profile_settings_contentarea #posts .nav-tabs.nav-justified > li a {
    color: black;
    font-family: bebasbold;
    font-size: 30px;
    border-radius: 0;
    border: none;
    background-color: #EFF0EF; }
  #profile_settings_contentarea #posts .nav-tabs.nav-justified > li.active > a {
    background-color: white; }
  #profile_settings_contentarea div.tab-pane {
    padding: 70px;
    padding-bottom: 15px;
    background: #EFF0EF; }
  #profile_settings_contentarea p {
    color: grey;
    margin-bottom: 5px; }
    #profile_settings_contentarea p.forgotpassword {
      font-size: 10px;
      color: blue; }
  #profile_settings_contentarea .nav-tabs.nav-justified > li a {
    color: black;
    font-family: bebasbold;
    font-size: 30px;
    border-radius: 0;
    border: none;
    background-color: white; }
  #profile_settings_contentarea .nav-tabs.nav-justified > li.active > a {
    background-color: #EFF0EF; }
  #profile_settings_contentarea #drop_box_profile_photo {
    border: 4px dashed lightgrey;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    display: inline-block;
    cursor: pointer;
    position: relative; }
    #profile_settings_contentarea #drop_box_profile_photo .upload_cover_icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 50px;
      width: 50px;
      background: url("..//img/icons/upload.png") 0 0 no-repeat;
      z-index: 1; }
    #profile_settings_contentarea #drop_box_profile_photo .upload_cover_text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-top: 70px;
      z-index: 1; }
      #profile_settings_contentarea #drop_box_profile_photo .upload_cover_text p {
        font-family: bebasbold;
        color: lightgrey;
        font-size: 20px; }
    #profile_settings_contentarea #drop_box_profile_photo #profile_cover_preview {
      border-radius: 50%;
      width: 100%;
      background-repeat: no-repeat;
      padding: 2px;
      background-color: white; }
    #profile_settings_contentarea #drop_box_profile_photo:hover .upload_cover_icon {
      display: block !important; }
    #profile_settings_contentarea #drop_box_profile_photo:hover .upload_cover_text {
      display: block !important; }
  #profile_settings_contentarea .crop-area {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 10px; }
  #profile_settings_contentarea .name-email-area, #profile_settings_contentarea .change-password-area {
    padding-bottom: 50px; }
    #profile_settings_contentarea .name-email-area input, #profile_settings_contentarea .name-email-area country-select, #profile_settings_contentarea .name-email-area select, #profile_settings_contentarea .change-password-area input, #profile_settings_contentarea .change-password-area country-select, #profile_settings_contentarea .change-password-area select {
      margin-top: 20px;
      font-size: 20px;
      height: 30px;
      font-family: helvetica;
      outline: none;
      border: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      border-bottom: 2px solid lightgray !important;
      background-color: #EFF0EF;
      width: 100%; }
    #profile_settings_contentarea .name-email-area country-select, #profile_settings_contentarea .name-email-area select, #profile_settings_contentarea .change-password-area country-select, #profile_settings_contentarea .change-password-area select {
      background-color: white;
      border: 2px solid lightgray !important; }
    #profile_settings_contentarea .name-email-area textarea, #profile_settings_contentarea .change-password-area textarea {
      font-family: helvetica;
      color: grey;
      font-size: 25px;
      width: 100%;
      height: auto;
      outline: none;
      border: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      resize: none;
      padding: 2px;
      min-height: 144px; }
    #profile_settings_contentarea .name-email-area button, #profile_settings_contentarea .change-password-area button {
      border: 0;
      padding-top: 1px; }
    #profile_settings_contentarea .name-email-area hr, #profile_settings_contentarea .change-password-area hr {
      margin-bottom: 40px;
      border-color: lightgrey; }
    #profile_settings_contentarea .name-email-area .password-header, #profile_settings_contentarea .change-password-area .password-header {
      margin-bottom: 50px; }
    #profile_settings_contentarea .name-email-area .button, #profile_settings_contentarea .change-password-area .button {
      margin-top: 30px; }

@media (max-width: 1500px) {
  #home_contentarea #home_header h1 {
    font-size: 70px;
    font-size: 5vw; } }

@media (max-width: 992px) {
  .login-modal .modal-dialog {
    width: 80%; } }

html {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  overflow-y: scroll; }
  html body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%; }
    html body div.loading-overlay {
      opacity: .7;
      background: #000;
      width: 100%;
      height: 100%;
      z-index: 10;
      top: 0;
      left: 0;
      position: fixed;
      padding-bottom: 500px; }
      html body div.loading-overlay .loading-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        html body div.loading-overlay .loading-container .circle {
          background-color: transparent;
          border: 5px solid rgba(0, 183, 229, 0.9);
          opacity: 1;
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
          border-radius: 50px;
          box-shadow: 0 0 35px #2187e7;
          width: 50px;
          height: 50px;
          margin: 0 auto;
          animation: spinPulse 1s infinite ease-in-out;
          -moz-animation: spinPulse 1s infinite ease-in-out;
          -webkit-animation: spinPulse 1s infinite linear; }
        html body div.loading-overlay .loading-container .circle1 {
          background-color: transparent;
          border: 5px solid rgba(0, 183, 229, 0.9);
          opacity: 1;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-radius: 50px;
          box-shadow: 0 0 15px #2187e7;
          width: 30px;
          height: 30px;
          margin: 0 auto;
          position: relative;
          top: -40px;
          animation: spinoffPulse 1s infinite linear;
          -moz-animation: spinoffPulse 1s infinite linear;
          -webkit-animation: spinoffPulse 1s infinite linear; }
        html body div.loading-overlay .loading-container p {
          color: white;
          position: absolute;
          top: 50px; }

@keyframes spinPulse {
  0% {
    transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #2187e7; }
  50% {
    transform: rotate(145deg);
    opacity: 1; }
  100% {
    transform: rotate(-320deg);
    opacity: 0; } }

@keyframes spinoffPulse {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
