#view_article_contentarea {
  color: black;
  margin-top: 64px;
  padding: 15px; }
  #view_article_contentarea .headline {
    width: 100%;
    font-family: bebasbold;
    font-size: 60px; }
  #view_article_contentarea .subtitle {
    width: 100%;
    font-size: 25px;
    font-family: helvetica;
    color: grey; }
  #view_article_contentarea .cover_photo {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%; }
  #view_article_contentarea .story {
    width: 100%;
    height: auto;
    font-size: 18px;
    font-family: helvetica; }
