<div id="confirm_signup_modal" class="container-fluid">
	<div class="modal-header text-center">
		<h3>Thank you for signing up!</h3>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="text-area text-center">
				<h4>A confirmation email has been sent to {{modal_data}}</h4>
				<h4>Please check your spam folder</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 text-center">
			<div class="text-area text-center">
				<h4>You can now login with the information you've entered</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="button-area text-center">
			<button class="button uniform green" ng-click="ok_signup()">Ok</button>
		</div>
	</div>
</div>