<div id="create_slideshow_contentarea">
	<form name="full_slideshow_form" novalidate>
	<div class="row">
		<div class="col-sm-12 col-md-6 col-md-offset-3">
			<!-- Area for headline and subtitle -->
			<div id="slideshow_area">
				<div class="headline">
					<textarea type="text" elastic placeholder="Headline" ng-model="slideshow.title" required name="title"></textarea>
				</div>
				<div class="subtitle">
					<textarea type="text" elastic placeholder="Sub title (Optional)" ng-model="slideshow.short_desc"></textarea>
				</div>		
			</div>
			<!-- Area for uploading cover-photo -->
			<div class="row">
				<div class="col-sm-12 col-sm-offset-0">
					<div id="drop_box">
						<div class="upload_cover_icon" ngf-drop="" ngf-pattern="'image/*'" ngf-change="validateImage($invalidFiles); slideshow.photo_url = ''" ngf-select="" ng-model="slideshow.photo" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" 
					class="ng-pristine ng-valid" ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'image/*'" ngf-drop-available="dropSupported" ng-hide="slideshow.photo || slideshow.photo_url"></div>
						<div class="upload_cover_text" ng-hide="slideshow.photo || slideshow.photo_url"><p>upload cover photo</p></div>
						<img id="slideshow_cover_preview" ng-if="slideshow.photo.size" ngf-src="slideshow.photo">
						<img id="slideshow_cover_preview" ng-if="!slideshow.photo.size && !slideshow.photo_url" ng-src="{{slideshow.photo}}">
						<img id="slideshow_cover_preview" ng-if="!slideshow.photo.size && !slideshow.photo" ng-src="{{slideshow.photo_url}}">
					</div>
					<button class="button uniform crop-btn hidden" ng-if="slideshow.photo.size" ng-click="openCropModal(slideshow)">Crop</button>
					<input class="cover-credit pull-left" type="text" placeholder="Credit for photo..." ng-model="slideshow.photographer">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 story">
					<textarea elastic placeholder="Description of slideshow..." ng-model="slideshow.long_desc"></textarea>
				</div>
			</div>
			<!-- Area for checkboxes -->
			<div class="row">
				<div class="col-sm-12 prefill-info">
					<accordion>
						<accordion-group is-open="accordion_toggle">
							<accordion-heading ng-click="accordion_toggle = 'false'">
								<div class="row">
									<div class="col-sm-2 col-sm-offset-5 text-center">
										<img ng-if="!accordion_toggle" src="./dist/img/icons/expand_arrow_blue.png" alt="">
										<img ng-if="accordion_toggle" src="./dist/img/icons/collapse_arrow_blue.png" alt="">
									</div>
								</div>
							</accordion-heading>
							<div class="row text-center">
								<!--<div class="col-sm-4">
									<h2>Title for all photos</h2>
								</div>-->
								<div class="col-sm-6">
									<h2>Credit for all photos</h2>									
								</div>
								<div class="col-sm-6">
									<h2>Caption for all photos</h2>									
								</div>
							</div>
							<div class="row text-center">
								<!--<div class="col-sm-4">
									<input ng-model="multi_select.title" type="text" placeholder="">
								</div>-->
								<div class="col-sm-6">
									<input ng-model="multi_select.credit" type="text" placeholder="" ss-enter="multiSelectCredit(multi_select.credit)">									
								</div>
								<div class="col-sm-6">
									<input ng-model="multi_select.caption" type="text" placeholder="" ss-enter="multiSelectCaption(multi_select.caption)">								
								</div>
							</div>
							<div class="row text-center">
								<!--<div class="col-sm-4">
									<a href="#" class="button uniform blue" ng-click="multiSelectTitle(multi_select.title)">Add</a>
								</div>-->
								<div class="col-sm-6">
									<a href="#" class="button uniform blue" ng-click="multiSelectCredit(multi_select.credit)">Add</a>
								</div>
								<div class="col-sm-6">
									<a href="#" class="button uniform blue" ng-click="multiSelectCaption(multi_select.caption)">Add</a>
								</div>
							</div>
						</accordion-group>
					</accordion>
				</div>
			</div>
			
			<!--Area for uploading slideshow photos--> 
			<div class="row">
				<div class="col-sm-12 col-sm-offset-0 text-center">
					<div id="drop_box_photos" ngf-drop="" ngf-pattern="'image/*'" ngf-change="validateImage($invalidFiles); slideshow_photos = ''" ngf-select="" ng-model="slideshow_photos" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" 
					class="" ngf-multiple="true" ngf-allow-dir="false" ngf-accept="'image/*'" ngf-drop-available="dropSupported">
						<div class="upload_cover_icon"><p>+</p></div>
						<div class="upload_cover_text"><p>add photos</p></div>
					</div>
				</div>
			</div>
			<!-- Area for displaying uploaded pictures-->
			<div class="row">
				<div class="col-sm-12">
					<div id="" class="image-grid" as-sortable="sortableOptions" ng-model="slideshow.photos">
						<div class="col-sm-4" as-sortable-item ng-repeat="img in slideshow.photos">
							<ng-form name="slideshow_form">
								<div>
									<span class="badge order-id">{{img.order_id +1}}</span>
									<span class="badge remove-image pull-right" ng-click="deleteImage(img)">X</span>
								</div>
								<!--<input type="text" ng-model="img.title" placeholder="Photo Title" required name="title">-->
								<div class="one-one">
									<div class="content" as-sortable-item-handle>
										<img ng-if="true" ngf-src="img">
										<img ng-if="img.id" ng-src="{{img.file_name}}">									
									</div>
								</div>
								<input type="text" ng-model="img.credit" placeholder="Credit" name="credit">
								<textarea type="text" rows="7" ng-model="img.alt" placeholder="Caption" name="alt"></textarea>
							</ng-form>
						</div>
					</div>
				</div>
			</div>
			<!-- Area for post/publish/preview buttons-->
			<div id="button_row">
				<a href="#" class="pull-left" tooltip-placement="right" tooltip="Please fill in headline, add a coverphoto and at least one slideshow photo" tooltip-enable="full_slideshow_form.$invalid || slideshow.photos.length < 1 || (!slideshow.photo && !slideshow.photo_url)">
				<button class="button uniform green" ng-disabled="full_slideshow_form.$invalid || slideshow.photos.length < 1 || (!slideshow.photo && !slideshow.photo_url)" type="button" ng-click="saveSlideshow(access_token, slideshow)">SAVE</button>
				</a>
				<a href="#" class="pull-right" tooltip-placement="right" tooltip="Please fill in headline, add a coverphoto and at least one slideshow photo" tooltip-enable="full_slideshow_form.$invalid || slideshow.photos.length < 1 || (!slideshow.photo && !slideshow.photo_url)">				
				<button class="button uniform red" ng-disabled="full_slideshow_form.$invalid || slideshow.photos.length < 1 || (!slideshow.photo && !slideshow.photo_url)" type="button" ng-click="saveSlideshow(access_token, slideshow, publish=true)">PUBLISH</button>
				</a>
				<a href="#" class="pull-right">
				<button class="button uniform blue" ng-if="slideshow.id" ng-click="openPreviewSlideshowModal(slideshow)" type="button">PREVIEW</button>
				</a>
			</div>	
		</div>
		</div>
	</div>
	</form>
</div>