<div id="create_feature_contentarea">
	<form name="full_feature_form" novalidate>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p>{{feature.timestamp.weekday}} {{feature.timestamp.day}} {{feature.timestamp.month}} {{feature.timestamp.year}}</p>
			<!-- Area for uploading cover-photo -->
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div id="drop_box">
						<div class="upload_cover_icon" ngf-drop="" ngf-pattern="'image/*'" ngf-change="validateImage($invalidFiles); feature.photo_url = ''" ngf-select="" ng-model="feature.photo" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" 
					class="ng-pristine ng-valid" ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'image/*'" ngf-drop-available="dropSupported" ng-hide="feature.photo || feature.photo_url"></div>
						<div class="upload_cover_text" ng-hide="feature.photo"><p>upload cover photo</p></div>
						<img id="feature_cover_preview" ng-if="feature.photo.size" ngf-src="feature.photo || feature.photo_url">
						<img id="feature_cover_preview" ng-if="!feature.photo.size && !feature.photo_url" ng-src="{{feature.photo}}">
						<img id="feature_cover_preview" ng-if="!feature.photo.size && !feature.photo" ng-src="{{feature.photo_url}}">
					</div>
					<button class="button uniform crop-btn hidden" ng-if="feature.photo.size" ng-click="openCropModal(feature)">Crop</button>
					<input class="cover-credit pull-left" type="text" placeholder="Credit for photo..." ng-model="feature.photographer">
				</div>
			</div>
			<!-- Area for writing feature -->
			<div id="feature_area">
				<div class="headline">
					<textarea type="text" elastic placeholder="Headline" ng-model="feature.title" required></textarea>
				</div>
				<div class="subtitle">
					<textarea type="text" elastic placeholder="Sub title (Optional)" ng-model="feature.short_desc"></textarea>
				</div>
				<div class="btn-group" ng-init="radioModel = 'standard'">
					<label class="btn btn-primary" ng-model="radioModel" btn-radio="'standard'">Standard</label>
					<label class="btn btn-primary" ng-model="radioModel" btn-radio="'medium'">Medium</label>
				</div>
				<div class="story" ng-show="radioModel == 'standard'">
					<div sticky offset="64">
						<div text-angular-toolbar class="toolbar" name="toolbar" ta-toolbar="[['h2','quote','bold','italics','underline','myUploadImage','insertLink', 'wordcount', 'charcount']]"></div>					
					</div>
					<div text-angular ng-model="feature.long_desc" ta-target-toolbars="toolbar"
					ta-toolbar="[['h2','quote','bold','italics','underline','myUploadImage','insertLink', 'wordcount', 'charcount']]" ta-resize-maintain-aspect-ratio="true"></div>
				</div>
				<div class="medium" ng-show="radioModel == 'medium'">
					<p ng-model="feature.long_desc" medium-editor options='{"buttons": ["bold", "italic"]}'></p>
				</div>	
			</div>
			<!--{{feature.long_desc}}-->
			<!-- Area for post/publish/preview buttons-->
			<div id="button_row">
				<a href="#" class="pull-left" tooltip-placement="right" tooltip="Please fill in headline and select a cover photo" tooltip-enable="full_feature_form.$invalid || (!feature.photo && !feature.photo_url)">
				<button class="button uniform green" ng-disabled="full_feature_form.$invalid || (!feature.photo && !feature.photo_url)" type="button" ng-click="saveFeature(access_token, feature)">SAVE</button>
				</a>
				<a href="#" class="pull-right" tooltip-placement="right" tooltip="Please fill in headline and select a cover photo" tooltip-enable="full_feature_form.$invalid || (!feature.photo && !feature.photo_url)">				
				<button class="button uniform red" ng-disabled="full_feature_form.$invalid || (!feature.photo && !feature.photo_url)" type="button" ng-click="saveFeature(access_token, feature, publish=true)">PUBLISH</button>
				</a>
				<a href="#" class="pull-right">
				<button class="button uniform blue" href="#" ng-click="openPreviewModal(feature)" type="button">PREVIEW</button>
				</a>			
			</div>	
			<!--<button ng-click="log(feature)">Log</button>-->
		</div>
		</div>
	</div>
	</form>
</div>