<div id="create_gigphotos_contentarea">
	<form name="full_gigphotos_form" novalidate>
	<div class="row">
		<div class="col-sm-12 col-md-6 col-md-offset-3">
			<!-- Area for headline and subtitle -->
			<div id="gigphotos_area">
				<div class="headline">
					<textarea type="text" elastic placeholder="Headline" ng-model="gigphotos.title" required name="title"></textarea>
				</div>
				<div class="subtitle">
					<textarea type="text" elastic placeholder="Sub title (Optional)" ng-model="gigphotos.short_desc"></textarea>
				</div>		
			</div>
			<!-- Area for uploading cover-photo -->
			<div class="row">
				<div class="col-sm-12 col-sm-offset-0">
					<div id="drop_box">
						<div class="upload_cover_icon" ngf-drop="" ngf-pattern="'image/*'" ngf-change="validateImage($invalidFiles); gigphotos.photo_url = ''" ngf-select="" ng-model="gigphotos.photo" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" 
					class="ng-pristine ng-valid" ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'image/*'" ngf-drop-available="dropSupported" ng-hide="gigphotos.photo || gigphotos.photo_url"></div>
						<div class="upload_cover_text" ng-hide="gigphotos.photo || gigphotos.photo_url"><p>upload cover photo</p></div>
						<img id="gigphotos_cover_preview" ng-if="gigphotos.photo.size" ngf-src="gigphotos.photo">
						<img id="gigphotos_cover_preview" ng-if="!gigphotos.photo.size && !gigphotos.photo_url" ng-src="{{gigphotos.photo}}">
						<img id="gigphotos_cover_preview" ng-if="!gigphotos.photo.size && !gigphotos.photo" ng-src="{{gigphotos.photo_url}}">
					</div>
					<button class="button uniform crop-btn hidden" ng-if="gigphotos.photo.size" ng-click="openCropModal(gigphotos)">Crop</button>
					<input class="cover-credit pull-left" type="text" placeholder="Credit for photo..." ng-model="gigphotos.photographer">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 story">
					<textarea elastic placeholder="Description of gig..." ng-model="gigphotos.long_desc"></textarea>
				</div>
			</div>
			
			<!-- Area for uploading gigphotos photos -->
			<div class="row">
				<div class="col-sm-12 col-sm-offset-0 text-center">
					<div id="drop_box_photos" ngf-drop="" ngf-change="validateImage($invalidFiles); gigphotos_photos = ''" ngf-pattern="'image/*'" ngf-select="" ng-model="gigphotos_photos" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" 
					class="ng-pristine ng-valid" ngf-multiple="true" ngf-allow-dir="false" ngf-accept="'image/*'" ngf-drop-available="dropSupported">
						<div class="upload_cover_icon"><p>+</p></div>
						<div class="upload_cover_text"><p>add photos</p></div>
					</div>
				</div>
			</div>
			<!-- Area for displaying uploaded pictures-->
			<div class="row">
				<div class="col-sm-12">
					<div id="" class="image-grid" as-sortable="sortableOptions" ng-model="gigphotos.photos">
						<div class="col-sm-4" as-sortable-item ng-repeat="img in gigphotos.photos">
							<ng-form name="gigphotos_form">
								<div>
									<span class="badge order-id">{{img.order_id +1}}</span>
									<span class="badge remove-image pull-right" ng-click="deleteImage(img)">X</span>
								</div>
								<div class="one-one">
									<div class="content" as-sortable-item-handle>
										<img ng-if="true" ngf-src="img">
										<img ng-if="img.id" ng-src="{{img.file_name}}">									
									</div>
								</div>
							</ng-form>
							
						</div>
					</div>
				</div>
			</div>
			<!-- Area for post/publish/preview buttons-->
			<div id="button_row">
				<a href="#" class="pull-left" tooltip-placement="right" tooltip="Please fill in headline, add a coverphoto and at least one gigphoto" tooltip-enable="full_gigphotos_form.$invalid || gigphotos.photos.length < 1 || (!gigphotos.photo && !gigphotos.photo_url)">
				<button class="button uniform green" ng-disabled="full_gigphotos_form.$invalid || gigphotos.photos.length < 1 || (!gigphotos.photo && !gigphotos.photo_url)" type="button" ng-click="saveGigphotos(access_token, gigphotos)">SAVE</button>
				</a>
				<a href="#" class="pull-right" tooltip-placement="right" tooltip="Please fill in headline, add a coverphoto and at least one gigphoto" tooltip-enable="full_gigphotos_form.$invalid || gigphotos.photos.length < 1 || (!gigphotos.photo && !gigphotos.photo_url)">
				<button class="button uniform red" ng-disabled="full_gigphotos_form.$invalid || gigphotos.photos.length < 1 || (!gigphotos.photo && !gigphotos.photo_url)" type="button" ng-click="saveGigphotos(access_token, gigphotos, publish=true)">PUBLISH</button>
				</a>
				<a href="#" class="pull-right">
				<button class="button uniform blue" ng-if="gigphotos.id" ng-click="openPreviewSlideshowModal(gigphotos)" style="margin-right: 10px" type="button">PREVIEW</button>
				</a>
			</div>
		</div>
		</div>
	</div>
	</form>
</div>