<div id="create_postmodal">
    <div id="post_header">
        <h2>Choose Your Type of Post</h2>
    </div>
    <div id="post_body">
        <div class="row">
            <div class="col-sm-6 type-square">
                <div class="feature" ng-click="forwardFeature()">
                    <h3>Feature</h3>
                    <img ng-src="dist/img/icons/feature.png" alt="">
                    <p>Create a feature article on a topic that you want people to hear about.</p>
                </div>
            </div>
            <div class="col-sm-6 type-square">
                <div class="review" ng-click="forwardReview()">
                    <h3>Review</h3>
                    <img ng-src="dist/img/icons/review.png" alt="">
                    <p>Review a gig, album,  single , or festival.</p>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col-sm-6 type-square">
                <div class="gig-photos" ng-click="forwardGigPhotos()">
                    <h3>Gig Photos</h3>
                    <img ng-src="dist/img/icons/gig_photos.png" alt="">
                    <p>Post photos of a gig, festival, or other event.</p>
                </div>
            </div>
            <div class="col-sm-6 type-square">
                <div class="slideshow" ng-click="forwardSlideshow()">
                    <h3>Slideshow</h3>
                    <img ng-src="dist/img/icons/slideshow.png" alt="">
                    <p>Create a slideshow of text and photos to tell a story.</p>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col-sm-6 type-square">
                <div class="musicnews" ng-click="forwardMusicnews()">
                    <h3>Music News</h3>
                    <img ng-src="dist/img/icons/magazine.png" alt="">
                    <p>News about music and artists.</p>
                </div>
            </div>           
        </div>
    </div>  
</div> 