<div id="create_musicnews_contentarea">
	<form name="full_musicnews_form" novalidate>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p>{{musicnews.timestamp.weekday}} {{musicnews.timestamp.day}} {{musicnews.timestamp.month}} {{musicnews.timestamp.year}}</p>
			<!-- Area for uploading cover-photo -->
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div id="drop_box">
						<div class="upload_cover_icon" ngf-drop="" ngf-pattern="'image/*'" ngf-change="validateImage($invalidFiles); musicnews.photo_url = ''" ngf-select="" ng-model="musicnews.photo" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" 
					class="ng-pristine ng-valid" ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'image/*'" ngf-drop-available="dropSupported" ng-hide="musicnews.photo || musicnews.photo_url"></div>
						<div class="upload_cover_text" ng-hide="musicnews.photo || musicnews.photo_url"><p>upload cover photo</p></div>
						<img id="musicnews_cover_preview" ng-if="musicnews.photo.size" ngf-src="musicnews.photo">
						<img id="musicnews_cover_preview" ng-if="!musicnews.photo.size && !musicnews.photo_url" ng-src="{{musicnews.photo}}">
						<img id="musicnews_cover_preview" ng-if="!musicnews.photo.size && !musicnews.photo" ng-src="{{musicnews.photo_url}}">
					</div>
					<button class="button uniform crop-btn hidden" ng-if="musicnews.photo.size" ng-click="openCropModal(musicnews)">Crop</button>
					<input class="cover-credit pull-left" type="text" placeholder="Credit for photo..." ng-model="musicnews.photographer">
				</div>
			</div>
			<!-- Area for writing musicnews -->
			<div id="musicnews_area">
				<div class="headline">
					<textarea type="text" elastic placeholder="Headline" ng-model="musicnews.title" required></textarea>
				</div>
				<div class="subtitle">
					<textarea type="text" elastic placeholder="Sub title (Optional)" ng-model="musicnews.short_desc"></textarea>
				</div>
				<div class="btn-group" ng-init="radioModel = 'standard'">
					<label class="btn btn-primary" ng-model="radioModel" btn-radio="'standard'">Standard</label>
					<label class="btn btn-primary" ng-model="radioModel" btn-radio="'medium'">Medium</label>
				</div>
				<div class="story" ng-show="radioModel == 'standard'">
					<div sticky offset="64">
						<div text-angular-toolbar class="toolbar" name="toolbar" ta-toolbar="[['h2','quote','bold','italics','underline','myUploadImage','insertLink', 'wordcount', 'charcount']]"></div>					
					</div>
					<div text-angular ng-model="musicnews.long_desc" ta-target-toolbars="toolbar"
					ta-toolbar="[['h2','quote','bold','italics','underline','myUploadImage','insertLink', 'wordcount', 'charcount']]" ta-resize-maintain-aspect-ratio="true"></div>
				</div>
				<div class="medium" ng-show="radioModel == 'medium'">
					<p ng-model="musicnews.long_desc" medium-editor options='{"buttons": ["bold", "italic"]}'></p>
				</div>	
			</div>
			<!--{{musicnews.long_desc}}-->
			<!-- Area for post/publish/preview buttons-->
			<div id="button_row">
				<a href="#" class="pull-left" tooltip-placement="right" tooltip="Please fill in headline and select a cover photo" tooltip-enable="full_musicnews_form.$invalid || (!musicnews.photo && !musicnews.photo_url)">
				<button class="button uniform green" ng-disabled="full_musicnews_form.$invalid || (!musicnews.photo && !musicnews.photo_url)" type="button" ng-click="saveMusicnews(access_token, musicnews)">SAVE</button>
				</a>
				<a href="#" class="pull-right" tooltip-placement="right" tooltip="Please fill in headline and select a cover photo" tooltip-enable="full_musicnews_form.$invalid || (!musicnews.photo && !musicnews.photo_url)">				
				<button class="button uniform red" ng-disabled="full_musicnews_form.$invalid || (!musicnews.photo && !musicnews.photo_url)" type="button" ng-click="saveMusicnews(access_token, musicnews, publish=true)">PUBLISH</button>
				</a>
				<a href="#" class="pull-right">
				<button class="button uniform blue" ng-click="openPreviewModal(musicnews)" type="button">PREVIEW</button>
				</a>
			</div>	
			<!--<button ng-click="log(musicnews)">Log</button>-->
		</div>
		</div>
	</div>
	</form>
</div>