<div id="create_review_contentarea">
	<form name="full_review_form" novalidate>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<p>{{review.timestamp.weekday}} {{review.timestamp.day}} {{review.timestamp.month}} {{review.timestamp.year}}</p>
			<!-- Area for uploading cover-photo -->
			<div class="row">
				<div class="col-sm-12 col-sm-offset-0">
					<div class="headline">
						<textarea type="text" elastic placeholder="Headline" ng-model="review.title" required></textarea>
					</div>
					<div class="subtitle">
						<textarea type="text" elastic placeholder="Sub title (Optional)" ng-model="review.short_desc"></textarea>
					</div>
					<div id="drop_box">
						<div class="upload_cover_icon" ngf-drop="" ngf-pattern="'image/*'" ngf-change="validateImage($invalidFiles); review.photo_url = ''" ngf-select="" ng-model="review.photo" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" 
					class="ng-pristine ng-valid" ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'image/*'" ngf-drop-available="dropSupported" ng-hide="review.photo || review.photo_url"></div>
						<div class="upload_cover_text" ng-hide="review.photo || review.photo_url"><p>upload cover photo</p></div>
						<img id="review_cover_preview" ng-if="review.photo.size" ngf-src="review.photo">
						<img id="review_cover_preview" ng-if="!review.photo.size && !review.photo_url" ng-src="{{review.photo}}">
						<img id="review_cover_preview" ng-if="!review.photo.size && !review.photo" ng-src="{{review.photo_url}}">
					</div>
					<button class="button uniform crop-btn hidden" ng-if="review.photo.size" ng-click="openCropModal(review)">Crop</button>
					<input class="cover-credit pull-left" type="text" placeholder="Credit for photo..." ng-model="review.photographer">
				</div>
			</div>
			<!-- Area for writing review -->
			<div id="review_area">
				<div class="story">
					<div sticky offset="64" stick-limit="true">
						<div text-angular-toolbar class="toolbar" name="toolbar" ta-toolbar="[['h2','quote','bold','italics','underline','myUploadImage','insertLink', 'wordcount', 'charcount']]"></div>					
					</div>
					<div text-angular ng-model="review.long_desc" ta-target-toolbars="toolbar"
					ta-toolbar="[['h2','quote','bold','italics','underline','myUploadImage','insertLink', 'wordcount', 'charcount']]" ta-resize-maintain-aspect-ratio="true"></div>
				</div>			
			</div>
			<!-- Area for post/publish/preview buttons-->
			<div id="button_row">
				<a href="#" class="pull-left" tooltip-placement="right" tooltip="Please fill headline and select a cover photo" tooltip-enable="full_review_form.$invalid || (!review.photo && !review.photo_url)">
				<button class="button uniform green" ng-disabled="full_review_form.$invalid || (!review.photo && !review.photo_url)" type="button" ng-click="saveReview(access_token, review)">SAVE</button>
				</a>
				<a href="#" class="pull-right" tooltip-placement="right" tooltip="Please fill headline and select a cover photo" tooltip-enable="full_review_form.$invalid || (!review.photo && !review.photo_url)">				
				<button class="button uniform red" ng-disabled="full_review_form.$invalid || (!review.photo && !review.photo_url)" type="button" ng-click="saveReview(access_token, review, publish=true)">PUBLISH</button>
				</a>
				<a href="#" class="pull-right">
				<button class="button uniform blue" href="#" ng-click="openPreviewModal(review)" type="button">PREVIEW</button>
				</a>
			</div>	
			<!--<button ng-click="log(review)">Log</button>-->
		</div>
		</div>
	</div>
	</form>
</div>