<div id="crop_modal" class="container-fluid">
	<div class="modal-header text-center">
		<h3>Crop your photo</h3>
	</div>
	<div class="row">
		<div class="col-sm-6 text-center">
			<div class="preview-area">
				<img ng-src="{{article.photo_cropped}}">
			</div>
		</div>
		<div class="col-sm-6 text-center">
			<div class="crop-area">
				<img-crop result-image-size="1000" result-image-format="image/jpeg" area-type="square" image="article.photo || article.cover_photo | ngfDataUrl" result-image="article.photo_cropped"></img-crop>
			</div>
			<div class="button-area pull-right">
				<button class="button uniform green"ng-click="ok_modal()">Save</button><button class="button uniform red" ng-click="cancel_modal()">Cancel</button>
			</div>
		</div>
	</div>
	<div class="row">
		
	</div>
	<!--<div class="row">
		<div class="col-sm-12">
			<div class="button-area pull-right">
				<button class="button uniform green"ng-click="ok_modal()">Save</button><button class="button uniform red" ng-click="cancel_modal()">Cancel</button>
			</div>
		</div>
	</div>-->
</div>