<form ng-submit="insert()">
    <div class="modal-header" style="height: 50px">
        <div class="col-md-10">
            <h4 class="modal-title"><span class="glyphicon glyphicon-picture"></span> Upload Image</h4>
        </div>
        <div class="col-md-2 right">
            <a class="close" href ng-click="$dismiss()"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
    </div>
    <div class="modal-body text-center">
        <img ng-src="{{image}}" style="max-width: 570px">
        <img ng-show="progress == 100 && !image"src="./dist/img/icons/preloader.gif" alt="">
        <progressbar ng-show="progress < 99" class="progress-striped active" value="progress">{{progress}}</progressbar>
    </div>
    <div class="modal-footer center clearfix">
        <button ng-click="$dismiss()" type="button" class="btn btn-default pull-left">Cancel</button>
        <button type="submit" ng-disabled="image == null || image == '' || image == 'img/posts/default.svg'" class="btn btn-primary pull-right">Insert Image</button>
        <button type="button" ngf-pattern="'image/*'" ngf-select ngf-change="upload(file, $invalidFiles);" ng-model="file" ngf-multiple="false" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-picture mR5"></span> Browse</button>
    </div>
</form>