<div id="home_contentarea">

	<div class="row">
		<div class="col-sm-12 home-container">
			<!-- Area for home header -->
			<div class="home_background">
				<h1>Welcome to the Gigwise Community</h1>
			</div>
		</div>
	</div>
	
	<div class="row row-articles">
		<div class="col-sm-12 col-md-8 col-md-offset-1 col-lg-6 col-lg-offset-2">
			<!-- Area for articles -->
			<tabset justified="true">
				<tab class="custom-header" heading="Latest" active="active_tab.latest" ng-click="redirectHome('/latest')">
					<div class="articles" infinite-scroll="loadMore(pagination)" infinite-scroll-disabled="loading || pagination.maxed" infinite-scroll-distance="1">
						<div class="article" ng-repeat="article in articles track by $index">
							<div class="article-content clearfix" ng-click="redirectNewTab(article.link_to_article)">
								<div class="hidden-sm no-mobile">
									<img class="pull-left" ng-src="{{article.photo}}" alt="">
									<h2 ng-bind="article.headline"></h2>
									<p class="author">{{article.author}}</p>
									<p class="ellipsis-7" ng-bind="article.long_desc"></p>
									<p class="timestamp"><i class="fa fa-clock-o"></i> {{article.date_added}}</p>
									<p class="views"><i class="fa fa-eye"></i> {{article.impressions}}</p>
								</div>
								
								<div class="visible-sm article-mobile">
									<div class="col-sm-12">
										<img class="pull-left" ng-src="{{article.photo}}" alt="">
									</div>
									<div class="col-sm-12">
										<h2 ng-bind="article.headline"></h2>
									</div>
									<!--<p class="author">{{article.author}}</p>
									<p class="ellipsis-7" ng-bind="article.long_desc"></p>-->
									<div class="col-sm-12">
										<p class="timestamp pull-left"><i class="fa fa-clock-o"></i> {{article.date_added}}</p>
										<p class="views pull-right"><i class="fa fa-eye"></i> {{article.impressions}}</p>
									</div>
								</div>
							</div>
							<hr>
						</div>
					</div>
				</tab>
				<!--<tab heading="Featured" active="active_tab.featured" ng-click="redirectHome('/featured')">
					featured
				</tab>-->
				<tab class="custom-header" heading="Top Users" active="active_tab.top_users" ng-click="redirectHome('/top-users')">
					<div class="top-users">
						<span dropdown ng-init="selected_list = 'Month'">
							<h2>Top Users: <a href id="simple-dropdown" dropdown-toggle>This {{selected_list}} &#x25bc;</a></h2>
							<ul class="dropdown-menu" aria-labelledby="simple-dropdown">
								<li><a href ng-click="selected_list = 'Week'; loadUsersList(selected_list)">Week</a></li>
								<li><a href ng-click="selected_list = 'Month'; loadUsersList(selected_list)">Month</a></li>
								<li><a href ng-click="selected_list = 'Year'; loadUsersList(selected_list)">Year</a></li>
							</ul>
						</span>
						<div class="user" ng-repeat="user in loaded_list" ng-click="forwardToArticle(user.link_to_page)">
							<div class="row">
								<div class="col-sm-6 col-md-4 col-md-offset-2">
									<img ng-src="{{user.profile_photo}}" alt="">
								</div>
								<div class="col-sm-6 col-md-4">
									<p class="index pull-right">{{$index +1}}</p>
									
									<p class="first-name">{{user.first_name}}</p>
									<p class="last-name">{{user.last_name}}</p>
									<p class="user-name">{{user.username}}</p>
									
									<p class="views">Views - {{user.views}}</p>
								</div>
								<div class="col-sm-12 col-md-8 col-md-offset-2">
									<hr>
								</div>
							</div>
						</div>
					</div>
				</tab>
				<tab class="custom-header" heading="Top Posts" active="active_tab.top_posts" ng-click="redirectHome('/top-posts')">
					<div class="top-posts">
						<span dropdown ng-init="selected_list = 'Month'">
							<h2>Top Posts: <a href id="simple-dropdown" dropdown-toggle>This {{selected_list}} &#x25bc;</a></h2>
							<ul class="dropdown-menu" aria-labelledby="simple-dropdown">
								<li><a href ng-click="selected_list = 'Week'; loadPostsList(selected_list)">Week</a></li>
								<li><a href ng-click="selected_list = 'Month'; loadPostsList(selected_list)">Month</a></li>
								<li><a href ng-click="selected_list = 'Year'; loadPostsList(selected_list)">Year</a></li>
							</ul>
						</span>
						<div class="post" ng-repeat="post in loaded_list" ng-click="forwardToArticle(post.link_to_article)">
							<div class="row">
								<div class="col-sm-6 col-md-4 col-md-offset-2">
									<img ng-src="{{post.photo}}" alt="">
								</div>
								<div class="col-sm-6 col-md-4 info-area">
									<p class="index pull-right">{{$index +1}}</p>
									<p class="author">{{post.author}}</p>
									<p class="views">Views: {{post.views}}</p>
								</div>
								<div class="col-sm-12 col-md-8 col-md-offset-2">
									<p class="title">{{post.title}}</p>
									<hr>
								</div>
								<!--<div class="col-sm-12">
									<p class="timestamp pull-left"><i class="fa fa-clock-o"></i> {{post.date_added}}</p>
									<p class="views pull-right"><i class="fa fa-eye"></i> {{post.impressions}}</p>
								</div>-->
							</div>
							
						</div>
					</div>
				</tab>
			</tabset>
			
			<!--<div class="text-center">
				<button ng-show="!pagination.maxed" class="button uniform green load-more" ng-click="loadMore(pagination)">Load More</button>
			</div>-->
		</div>
		
		<div class="hidden-sm col-md-2">
			<div class="home-button-row">
				<div class="row">
					<div ng-if="access_token"><a href="#" class="button uniform red pull-right" ng-click="openCreatePostModal()">CREATE A POST</a></div>
				</div>
				<div class="row">
					<div ng-if="!access_token"><a href="#" class="button uniform blue pull-right" ng-click="openLoginModal()">LOGIN/SIGNUP</a></div>
					<div ng-if="access_token"><a href="#" class="button uniform blue pull-right" ng-click="logout()">LOG-OUT</a></div>						
				</div>			
			</div>
		</div>
	</div>
	
</div>