<div id="loadingmodal" ng-controller="mainCtrl">
    <h3>Saving Article...</h3>
    <div class="row" ng-repeat="item in modal_data.files_to_send">
        <div class="col-sm-2">
            <img class="img-preview" ngf-src="item" ngf-alt="./dist/img/no_image.png">
            <img class="img-preview" ng-if="!item.size" ng-src="./dist/img/no_image.png">
        </div>
        <div class="col-sm-9">
            <p class="progress-text">{{item.progress | number:0}}%</p>
            <progressbar class="round" value="item.progress || 0" type="success"></progressbar>
        </div>
        <div class="col-sm-1 error-area">
            <div class="error-image">
                <img ng-show="!item.error && !item.result" src="./dist/img/icons/preloader.gif" alt="">
                <img ng-show="!item.error && item.progress == 100 && item.result" src="./dist/img/icons/v-green.png" alt="">
                <img ng-show="item.error" src="./dist/img/icons/x-red.png"" alt="">
            </div>
        </div>
        <div class="col-sm-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a class="button uniform green" href="#" ng-if="!modal_data.publish" ng-disabled="!modal_data.file_sent" ng-click="ok()">OK</a>
            <a class="button uniform green" href="#" ng-if="modal_data.publish" ng-disabled="!modal_data.file_sent" ng-click="ok_modal(); publishArticle(access_token, modal_data.article)">OK</a>
        </div>
        <div class="col-sm-6">
            <a class="button uniform red pull-right" href="#" ng-click="cancel_modal()">Cancel</a>
        </div>
    </div>
    <!--<progressbar class="round" value="dynamic = (campaign_photos[0].progress + campaign_photos[1].progress + campaign_photos[2].progress + campaign_photos[3].progress + campaign_photos[4].progress + campaign_photos[5].progress + campaign_photos[6].progress + campaign_photos[7].progress) / campaign_photos.length || 0" type="success"></progressbar>-->
</div>