<div id="loginmodal" ng-controller="mainCtrl">
    <tabset justified="true" ng-init="forgot_password = false">
        <tab heading="Log In">
            <div ng-show="!forgot_password">
                <p>Your Username Or Email Address</p>
                <input type="text" ng-model="email" auto-focus ss-enter="signIn(email, password)">
                <p>Your Password</p>
                <input type="password" ng-model="password" ss-enter="signIn(email, password)">
                <p class="error-message" ng-bind="login_error_msg"></p>
                <div ng-click="forgot_password = !forgot_password; log(forgot_password)"><p class="forgotpassword">Forgot Password?</p></div>
                <button class="signin" ng-click="signIn(email, password)">SIGN IN</button>
            </div>
            <div ng-show="forgot_password">
                <form name="forgot_password_form" novalidate>
                    <p ng-click="forgot_password = !forgot_password" class="forgotpassword">Back</p>
                    
                    <p>Enter your email</p>
                    <input type="text" ng-model="forgot_email" email-available required ng-model-options="{ debounce: 1000 }">
                    <p class="error-message" ng-show="!forgot_password_form.$error.emailExists && forgot_password_form.$dirty">Email is not in our database</p>
                    

                    <button class="signin" ng-disabled="!forgot_password_form.$error.emailExists" ng-click="resetPassword(forgot_email)" type="button">SEND EMAIL</button>

                </form>
            </div>
            <hr>
            <a class="btn btn-block btn-social btn-facebook" ng-click="facebookSignup('facebook')">
            <i class="fa fa-facebook"></i>
            Sign in with Facebook
            </a>
            <!--<a class="btn btn-block btn-social btn-google">
            <i class="fa fa-google"></i>
            Sign in with Google
            </a>
            <a class="btn btn-block btn-social btn-twitter">
            <i class="fa fa-twitter"></i>
            Sign in with Twitter
            </a>
            <a class="btn btn-block btn-social btn-instagram">
            <i class="fa fa-instagram"></i>
            Sign in with Instagram
            </a>-->
        </tab>
        <tab heading="Sign Up">
            <form name="signup_form" novalidate>
            <p>First Name</p>
            <input type="text" name="firstname" ng-model="signup.firstname" required>
            <p>Last Name</p>
            <input type="text" name="lastname" ng-model="signup.lastname" required>
            <p>Your Email Address</p>
            <input type="text" name="email" ng-model="signup.email" email-available required ng-model-options="{ updateOn: 'blur' }">
            <p class="error-message" ng-if="signup_form.$error.emailExists">Email exists already</p>
            <p class="error-message" ng-if="!validateEmail(signup.email) && signup_form.email.$dirty">Email address not valid</p>
            <p>Pick A Username</p>
            <input type="text" name="username" ng-model="signup.username" username-available required ng-model-options="{ updateOn: 'blur' }">
            <p class="error-message" ng-if="signup_form.$error.usernameExists">Username exists already</p>
            <p>Pick A Password</p>
            <input type="password" name="password1" ng-model="signup.password" required>
            <p>Repeat Password</p>
            <input type="password" name="password2" ng-model="signup.password2" required>
            <p class="error-message" ng-if="signup.password != signup.password2">Passwords must match</p>
            <button ng-disabled="signup_form.$invalid || signup.password != signup.password2 || !validateEmail(signup.email)" class="signin" ng-click="ok_modal(); signUp(signup)" type="button">SIGN UP</button>
            <hr>
            <a class="btn btn-block btn-social btn-facebook" ng-click="facebookSignup('facebook')">
            <i class="fa fa-facebook"></i>
            Sign in with Facebook
            </a>
            <!--<a class="btn btn-block btn-social btn-google">
            <i class="fa fa-google"></i>
            Sign in with Google
            </a>
            <a class="btn btn-block btn-social btn-twitter">
            <i class="fa fa-twitter"></i>
            Sign in with Twitter
            </a>
            <a class="btn btn-block btn-social btn-instagram">
            <i class="fa fa-instagram"></i>
            Sign in with Instagram
            </a>-->
            </form>
        </tab>
    </tabset>        
</div> 