<!-- Gigwise Header -->
<div id="header">

    <ul id="headerleft">
       <!-- Logo -->
       <div id="header-logo">
           <a href="./latest"></a>
       </div>
    </ul>

    <ul id="headerright">
        
        <li id="home_icon">
            <a href="./my-articles"><i ng-if="access_token" class="fa fa-home fa-4x"></i></a>
        </li>
        
        <li id="headerprofilephoto">
            <a href="./settings"><img ng-if="access_token && profile_photo" ng-src="{{profile_photo}}"/></a>
        </li>
        
        <li>
            <a ng-click="menu_open = !menu_open" click-outside="menu_open = false">
                <div class="menu-arrow">
                </div>
            </a>
        </li>

    </ul>

    <ul id="headerrightmenu" ng-show="menu_open">
        <div class="list-group">
            <a ng-show="access_token" class="list-group-item" href="./my-articles"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a>
            <a ng-show="access_token" class="list-group-item" href="./profile"><i class="fa fa-user fa-fw"></i>&nbsp; Profile</a>
            <a ng-show="access_token" class="list-group-item" href="./"><i class="fa fa-newspaper-o fa-fw"></i>&nbsp; Community</a>
            <a ng-show="access_token" class="list-group-item" href="#" ng-click="openCreatePostModal()"><i class="fa fa-book fa-fw"></i>&nbsp; Create Post</a>
            <a ng-show="access_token" class="list-group-item" href="./settings"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a>            
            <a ng-show="access_token" class="list-group-item" href="#" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i>&nbsp; Logout</a> 
            <a ng-show="!access_token" class="list-group-item" href="#" ng-click="openLoginModal()"><i class="fa fa-sign-in fa-fw"></i>&nbsp; Login</a>            
        </div>             
    </ul>

</div>