<div id="postmodal_preview">
    <p>{{article.timestamp.weekday}} {{article.timestamp.day}} {{article.timestamp.month}} {{article.timestamp.year}}</p>
    <h2 ng-bind="article.title || 'Headline'" class="headline"></h2>
    <h3 ng-bind="article.short_desc || 'Subtitle'" class="subtitle"></h3>
    <img ngf-src="article.photo" class="cover_photo">
    <img ng-if="!article.photo" ng-src="./dist/img/no_image.png" class="cover_photo">
    <div ta-bind="text" ng-model="article.long_desc" class="story"></div>
</div> 