<div id="slideshow_preview_modal" class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="headline" ng-bind="article.title || 'Headline...'"></h2>
		</div>
		<div class="col-sm-12">
			<h3 class="subtitle" ng-bind="article.short_desc || 'Subtitle...'"></h3>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-7">
			<div class="slideshow">
				<carousel interval="0" no-wrap="false">
					<slide ng-repeat="slide in article.photos" active="slide.active">
						<img ng-if="slide.file_name" ng-src="{{slide.file_name}}" style="max-height:400px; margin:0 auto;">
						<img ng-if="!slide.file_name" ngf-src="slide" style="max-height:400px; margin:0 auto;">
						<div class="carousel-caption">
						<p>{{slide.text}}</p>
						</div>
					</slide>
				</carousel>
			</div>
		</div>
		<div class="col-sm-5">
			<div class="story-container">
				<p class="story" ng-bind="article.long_desc || 'Story...'"></p>
			</div>
		</div>
	</div>
</div>