<div id="profile_contentarea">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<!-- Area for profile header -->
			<div id="home_header">
				<img class="profile-photo pull-right" ng-src="{{user.photo_url}}"/>
				<div class="profile-info">
					<h2 class="" >{{user.first_name}} {{user.last_name}}</h2>
					<h3 class="" ng-bind="user.country"></h3>
					<h4 class="" ng-bind="user.website"></h4>
					<p class="" ng-bind="user.bio"></p>
				</div>
				<hr>
			</div>
			<!-- Area for user articles -->
			<div class="user-articles">
				<div class="article text-center" ng-if="articles.length < 1">
					<div class="article-content">
						<h2 class="no-articles">You have no articles.</h2>
					<hr>
					</div>
				</div>
				<div class="article" ng-repeat="article in articles">
					<div class="article-content clearfix" ng-click="redirectNewTab(article.link_to_article)">
						<img class="pull-left" ng-src="{{article.photo}}" alt="">
						<h2 ng-bind="article.headline"></h2>
						<p class="ellipsis-7" ng-bind="article.long_desc">
						</p>
						<p class="timestamp"><i class="fa fa-clock-o"></i> {{article.date_added}}</p>
						<p class="views"><i class="fa fa-eye"></i> {{article.impressions}}</p>
					</div>
					<hr>
				</div>
			</div>
		</div>
	</div>
	
</div>