<div id="profile_settings_contentarea">
	
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<tabset justified="true">
				<tab heading="Profile Management" active="active_tab.myarticles" ng-click="goToMyArticles()">
					<div class="row">
						<div ng-if="access_token"><a href="#" class="button uniform red pull-right" ng-click="openCreatePostModal()">CREATE A POST</a></div>
					</div>
					<div class="text-center">
						<h2>Your Profile Link</h2>
						<h3 class="profile-link"><a href="http://www.gigwise.com/c/{{profile.username}}" target="_blank">http://www.gigwise.com/c/{{profile.username}}</a></h3>
						<!--<h3 class="profile-link">http://gigwise.com/c/<input class="username" type="text" placeholder="username..." ng-model="profile.username"></h3>-->
						<!--<a href="#" class="button uniform green save-username" ng-disabled="profile.username == profile.original_username" ng-click="saveUsername(access_token, profile)">Save</a>-->
					</div>
					<div id="posts">
						<h2>Posts</h2>
						<tabset justified="true">
							<tab heading="Drafts" ng-click="evaluateActiveTab('draft')">
								<div class="user-articles" infinite-scroll="loadMore(pagination,'draft')" infinite-scroll-disabled="loading || pagination.maxed || draft_publish == 'publish'" infinite-scroll-distance="0">
									<div class="article text-center" ng-if="articles.length < 1">
										<div class="article-content">
											<h2 class="no-articles">You have no drafts.</h2>
										<hr>
										</div>
									</div>
									<div class="article" ng-repeat="article in articles">
										<div class="row" ng-show="article.is_draft == '1'">
											<div class="col-sm-9">
												<div class="article-content clearfix">
													<img class="pull-left" ng-src="{{article.photo || '/dist/img/no_image.png'}}" alt="">
													<h2 class="ellipsis-2" ng-bind="article.title"></h2>
													<div ta-bind="text" ng-model="article.long_desc" class="ellipsis-7"></div>
												</div>
											<hr>
											</div>
											<div class="col-sm-3">
												<div class="button-row">
													<a href="#" class="button uniform green" ng-click="publishArticle(access_token, article)">Publish</a>
													<a href="#" mwl-confirm title="Are you sure you want to delete this article?" 
													class="button uniform red" placement="right" on-confirm="deleteDraft(article, access_token)"
													confirm-button-type="danger" confirm-text="Delete">Delete Draft</a>
													<a href="./edit-feature/{{article.id}}" class="button uniform blue" ng-if="article.post_type_id == 2">Edit</a>
													<a href="./edit-slideshow/{{article.id}}" class="button uniform blue" ng-if="article.post_type_id == 29 && article.cat_id == 306">Edit</a>
													<a href="./edit-review/{{article.id}}" class="button uniform blue" ng-if="article.post_type_id == 1">Edit</a>
													<a href="./edit-gigphotos/{{article.id}}" class="button uniform blue" ng-if="article.post_type_id == 29 && article.cat_id == 296">Edit</a>
													<a href="./edit-musicnews/{{article.id}}" class="button uniform blue" ng-if="article.post_type_id == 3">Edit</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</tab>
							<tab heading="Published" active="publish_route" ng-click="evaluateActiveTab('publish')">
								
								<div class="user-articles" infinite-scroll="loadMore(pagination, 'publish')" infinite-scroll-disabled="loading || pagination.maxed || draft_publish == 'draft'" infinite-scroll-distance="0">
									<div class="article text-center" ng-if="articles.length < 1">
										<div class="article-content">
											<h2 class="no-articles">You have no published articles.</h2>
										<hr>
										</div>
									</div>
									<div class="article" ng-repeat="article in articles">
										<div class="row" ng-show="article.is_draft == '0'">
											<div class="col-sm-9">
												<div class="article-content clearfix">
													<img class="pull-left" ng-src="{{article.photo || '/dist/img/no_image.png'}}" alt="">
													<h2 class="ellipsis-2" ng-bind="article.headline"></h2>
													<p class="ellipsis-7" ng-bind="article.long_desc"></p>
													<p class="timestamp"><i class="fa fa-clock-o"></i> {{article.date_added}}</p>
													<p class="views"><i class="fa fa-eye"></i> {{article.impressions}}</p>
												</div>
											<hr>
											</div>
											<div class="col-sm-3">
												<div class="button-row">
													<a href="#" class="button uniform red" ng-click="unpublishArticle(access_token, article)">Unpublish</a>
													<a href="{{article.link_to_article}}" class="button uniform green" target="_blank">Public Link</a>
													<a href="./edit-feature/{{article.id}}" class="button uniform blue" ng-if="article.post_type_id == 2">Edit</a>
													<a href="./edit-slideshow/{{article.id}}" class="button uniform blue" ng-if="article.post_type_id == 29 && article.cat_id == 306">Edit</a>
													<a href="./edit-review/{{article.id}}" class="button uniform blue" ng-if="article.post_type_id == 1">Edit</a>
													<a href="./edit-gigphotos/{{article.id}}" class="button uniform blue" ng-if="article.post_type_id == 29 && article.cat_id == 296">Edit</a>
													<a href="./edit-musicnews/{{article.id}}" class="button uniform blue" ng-if="article.post_type_id == 3">Edit</a>													
												</div>
											</div>
										</div>
									</div>
								</div>
								
							</tab>
						</tabset>
					</div>
				</tab>
				<tab heading="Account Settings" active="active_tab.settings" ng-click="goToSettings()">
					<div class="row">
						<div class="col-sm-6 text-center">
							<div id="drop_box_profile_photo" ngf-drop ngf-change="validateImage($invalidFiles)" ngf-pattern="'image/*'" ngf-select ng-model="picFile" ngf-accept="'image/*'" ngf-drop-available="dropSupported" ng-click="show_crop = true">
								<div class="upload_cover_icon" ng-hide="picFile || profile.photo_url"></div>
								<div class="upload_cover_text" ng-hide="picFile || profile.photo_url"><p>upload profile photo</p></div>
								<img id="profile_cover_preview" ng-src="{{profile.photo_url}}">
							</div>
						</div>
						<div class="col-sm-6 text-center" ng-style="{'visibility': picFile && show_crop ?'visible':'hidden'}">
							<div class="crop-area">
								<img-crop image="picFile | ngfDataUrl" result-image="profile.photo_url"></img-crop>
							</div>
							<a href="#" class="button uniform green" ng-click="show_crop = false; saveProfile(access_token, profile)">Done</a>
						</div>
					</div>
					<!-- Name and Email Area-->
					<div class="row name-email-area">
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-6">
									<h2 class="profile-headline">First Name</h2>
								</div>
								<div class="col-sm-6">
									<input type="text" ng-model="profile.first_name" disabled>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<h2 class="profile-headline">Last Name</h2>
								</div>
								<div class="col-sm-6">
									<input type="text" ng-model="profile.last_name" disabled>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<h2 class="profile-headline">Email</h2>
								</div>
								<div class="col-sm-6">
									<input type="text" ng-model="profile.email">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<h2 class="profile-headline">Website</h2>
								</div>
								<div class="col-sm-6">
									<input type="text" ng-model="profile.website">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<h2 class="profile-headline">Country</h2>
								</div>
								<div class="col-sm-6">
									<country-select ng-model="profile.country"></country-select>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<h2 class="profile-headline">Gender</h2>
								</div>
								<div class="col-sm-6">
									<select ng-model="profile.gender">
										<option value=""></option>
										<option value="male">Male</option>
										<option value="female">Female</option>
										<option value="other">Other</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<h2 class="profile-headline">Bio</h2>
									<div height="40px">
										<textarea type="text" elastic placeholder="Write your personal bio here..." ng-model="profile.bio"></textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<button href="#" class="button uniform green pull-right" ng-click="saveProfile(access_token, profile)">Save</button>
								</div>
							</div>
						</div>
					</div>
					<!-- Change password Area-->
					<div class="row change-password-area" >
						<form novalidate name="password_form" ng-submit="changePassword(access_token, pass.old_password, pass.new_password)">
						<hr>
						<h2 class="password-header">Change your password</h2>
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-6">
									<h2 class="profile-headline">Current Password</h2>
								</div>
								<div class="col-sm-6">
									<input type="password" required name="old_password" ng-model="pass.old_password">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<h2 class="profile-headline">New Password</h2>
								</div>
								<div class="col-sm-6">
									<input type="password" required name="new_password" ng-model="pass.new_password">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<h2 class="profile-headline">Confirm Password</h2>
								</div>
								<div class="col-sm-6">
									<input type="password" required name="confirm_password" ng-model="pass.confirm_password" match="pass.new_password">
									<span ng-show="password_form.$error.match">Passwords need to match.</span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<button  class="button uniform green pull-right" ng-disabled="password_form.$invalid" type="submit">Save</button>
								</div>
							</div>
						</div>
						</form>
					</div>
				</tab>
    		</tabset>   
		</div>
	</div>
	
</div>