<div id="publish_modal" class="container-fluid">
	<div class="modal-header text-center">
		<h3>You post has been published!</h3>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="title-area text-center">
				<h4 ng-bind="article.title"></h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4 text-center">
			<div class="cover-area">
				<img ng-if="article.photo_url" ng-src="{{article.photo_url}}" alt="">
				<img ng-if="article.photo" ngf-src="article.photo" alt="">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 text-center">
			<div class="link-area">
				<h4>Check it out at the following link:</h4>
				<a ng-href="{{article.link_to_article}}" target="_blank">{{article.link_to_article}}</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 text-center">
			<div class="facebook-link-area">
				<a ng-href="{{article.facebook_link}}" target="_blank"><img src="./dist/img/icons/facebook-share-button.png" alt=""></a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="button-area text-center">
			<button class="button uniform green" ng-click="ok_publish_modal()">Ok</button>
		</div>
	</div>
</div>