<div id="view_article_contentarea">
    
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <p>{{article.timestamp.weekday}} {{article.timestamp.day}} {{article.timestamp.month}} {{article.timestamp.year}}</p>
            <h2 ng-bind="'Headline'" class="headline"></h2>
            <h3 ng-bind="'Subtitle'" class="subtitle"></h3>
            <img ngf-src="article.cover_photo" class="cover_photo">
            <img ng-if="!article.cover_photo" ng-src="./design/upload_test.png" class="cover_photo">
            <p ng-bind="'Story'" class="story"></p>
        </div>
    </div>
    
</div>