@import 'colors';
/* Buttons */
.button {
    display: inline-block;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    color: white;
    font-size: 20px;
    font-family: bebasbold;
    &:focus{
        outline: 0;
        text-decoration:none;
        color: white;
    }
    &[disabled] {
        opacity: 0.5 !important;;   
    }
    &[disabled]:hover {
        opacity: 0.5 !important;
    }
    &.uniform {
        width: 80px;
        height: 36px;
        border-radius: 10px;
        text-align: center;
        padding-top: 4px;
        &:first-child {
            //margin-right: 20px;   
        }
    }
    &:hover{
        text-decoration:none;
        color: white;
        opacity: 0.8; 
    }
    &.red {
        background-color: $red;
    }
    &.green {
        background-color: $green;
    } 
    &.blue {
        background-color: $blue;
    }    
}