@import "colors";

.confirm-signup-modal .modal-dialog{
	border-radius: 10px;
	border: none;
	//margin: auto;
	margin-top: 100px;
	//overflow: hidden;
	width: 700px;
	#confirm_signup_modal{
		border-radius: 10px;
		padding: 0px;
		.modal-header{
			padding: 5px;
			border-top-left-radius: 5px;
    		border-top-right-radius: 5px;
			background: black;
			margin-bottom: 15px;
			h3{
				font-family: bebasbold;
				color: white;
				margin: 5px;
				font-size: 40px;
			}
		}
		.text-area{
			h4{
				font-family: bebasbold;
				font-size: 35px;
			}
			margin-bottom: 30px;
		}
		.button-area{
			margin: 10px;
			button{
				border: 0;
				padding-top: 1px;
				margin: 10px;
			}
		}
	}
}