@import "colors";
@mixin aspect-ratio($width, $height) {
    position: relative;
	border: 2px dashed $placeholdergrey;
    &:before{
        display: block;
        content: " ";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
		text-align: center;
		img{
			max-width:100%;
			max-height:100%;
			width: auto;
			height: auto;
			padding: 5px;
		}
    }
}
#create_slideshow_contentarea{
	color: black;
	margin-top: 64px;
	padding: 15px;
	#drop_box {
		border: 4px dashed lightgrey;
		width: 100%;
		min-height: 250px;
		text-align: center;
		margin-top: 2px;
		//margin-bottom: 20px;
		display: inline-block;
		position: relative;
		border-radius: 2%;
		.upload_cover_icon{
			cursor: pointer;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			height: 50px;
			width: 50px;
			background: url("..//img/icons/upload.png") 0 0 no-repeat;
			z-index: 3;
		}
		.upload_cover_text{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			padding-top: 70px;
			p{
				font-family: helvetica;
				color: lightgrey;
				font-size: 16px;	
			}
			z-index: 1;
		}
		#slideshow_cover_preview{
			//position: absolute;
			//top: 50%;
			//left: 50%;
			//transform: translate(-50%, -50%);
			width: 100%;
			background-repeat: no-repeat;
		}
		&:hover .upload_cover_icon{
			display: block !important;
		}
		&:hover .upload_cover_text{
			display: block !important;
		}
		&:hover + .crop-btn{
			display: block !important;
		}
	}
	p.photo-credit{
		color: grey;
		line-height: 26px;
	}
	.crop-btn{
		position: absolute;
		top: 10px;
		right: 22px;
		border: 0;
		padding-top: 1px;
		margin: 10px;
		background: #F5D04C;
		&:hover{
			display: block !important;
		}
	}
	input.cover-credit{
		margin-top: 5px;
		//width: 80%;
		margin-bottom: 10px;
		padding-left: 9px;
		padding-right: 9px;
		border: none;
		border: 2px solid lightgrey;
		border-radius: 15px;
		outline: none;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
	}
	#drop_box_photos {
		border: 2px dashed $blue;
		width: 100px;
		height: 100px;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
		display: inline-block;
		cursor: pointer;
		position: relative;
		border-radius: 10%;
		.upload_cover_icon{
			width: 100%;
			z-index: 1;
			p{
				padding-top: 10px;
				color: $blue;
				font-size: 50px;
				line-height: 50px;
				margin-bottom: 0;
			}
		}
		.upload_cover_text{
			p{
				font-family: helvetica;
				color: $blue;
				font-size: 12px;	
			}
			z-index: 1;
		}
		#slideshow_cover_preview{
			//position: absolute;
			//top: 50%;
			//left: 50%;
			//transform: translate(-50%, -50%);
			width: 100%;
			background-repeat: no-repeat;
		}
		&:hover .upload_cover_icon{
			display: block !important;
		}
		&:hover .upload_cover_text{
			display: block !important;
		}
	}
	#slideshow_area{
		font-family: helvetica;
		color: grey;
		input{
			outline: none;
			border: none !important;
			-webkit-box-shadow: none !important;
			-moz-box-shadow: none !important;
			box-shadow: none !important;
			line-height: normal;
		}
		textarea{
			width: 100%;
			height: auto;
			outline: none;
			border: none !important;
			-webkit-box-shadow: none !important;
			-moz-box-shadow: none !important;
			box-shadow: none !important;
			resize: none;
			overflow: hidden;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.headline{
			textarea{
				color: black;
				text-align: center;
				font-family: helvetica;
				font-size: 60px;
				height: 60px;
				line-height: 60px;
			}
		}
		.subtitle{
			textarea{
				color: black;
				text-align: center;
				font-size: 25px;
				height: 25px;
			}
		}
	}
	.story{
			textarea{
				font-size: 20px;
				//height: 25px;
			}
		}
	.prefill-info{
		.panel-group{
			//border-radius: 10px 10px 0px 0px;
			.panel-default{
				//border: none;
				background-color: #e4e4e4;
				border-radius: 10px 10px 10px 10px;
				&.panel-open{
					border-radius: 10px 10px 10px 10px;
				}
				.panel-heading{
					border-radius: 10px 10px 10px 10px;
					background-color: #e4e4e4;	
					padding: 0;	
				}
				.panel-body{
					border: none;
					padding-top: none;
					border-radius: 10px 10px 0px 0px;
				}
				.panel-collapse{
					border-radius: 10px 10px 10px 10px;
				}
			}
		}
		input{
			width: 80%;
			margin-bottom: 10px;
			padding-left: 9px;
			padding-right: 9px;
			border: none;
			border-radius: 10px;
			outline: none;
			-webkit-box-shadow: none !important;
			-moz-box-shadow: none !important;
			box-shadow: none !important;
		}
		h2{
			font-family: bebasbold;
			font-size: 20px;
			margin-top: 0;
		}
		p{
			margin: 0;
		}
		a{
			margin: 0;
		}
	}
	textarea{
		font-family: helvetica;
		width: 100%;
		height: auto;
		outline: none;
		border: none !important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
		resize: none;
		color: grey;
	}
	#button_row{
		button{
			border: 0;
			padding-top: 1px;
		}
		a{
			margin: 10px;
		}
	}
	.image-grid{
		.as-sortable-item{
			.order-id{
				background-color: $green;
				margin-bottom: 3px;
			}
			.remove-image{
				background-color:red;
				&:hover{
					cursor: pointer;
				}
			}
			//margin-bottom: 10px;
			input{
				width: 100%;
				margin-bottom: 2px;
			}
			.one-one{
				@include aspect-ratio(1,1);
				margin: 5px;
			}
		}
		textarea{
			border: 1px solid grey !important;
			margin-bottom: 15px;
		}
		.as-sortable-placeholder{
			border: 2px dashed $placeholdergrey;
			background-color: lightgrey;
			//height: 412px !important;
		}
	}
}

.as-sortable-dragging{
	.order-id{
		display: none;	
	}
	.remove-image{
		display: none;
	}
	textarea{
		display: none;
	}
	.one-one{
		.content{
			img{
				//width:400%;
			}
		}
	}
}
