#create_musicnews_contentarea{
	color: black;
	margin-top: 64px;
	padding: 15px;
	#drop_box {
		border: 4px dashed lightgrey;
		width: 100%;
		min-height: 250px;
		text-align: center;
		margin-top: 2px;
		//margin-bottom: 20px;
		display: inline-block;
		
		position: relative;
		border-radius: 2%;
		.upload_cover_icon{
			cursor: pointer;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			height: 50px;
			width: 50px;
			background: url("..//img/icons/upload.png") 0 0 no-repeat;
			//background: url("..//img/icons/expand_arrow_white.png") 0 0 no-repeat;
			z-index: 3;
		}
		.upload_cover_text{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			padding-top: 70px;
			p{
				font-family: helvetica;
				color: lightgrey;
				font-size: 16px;	
			}
			z-index: 1;
		}
		#musicnews_cover_preview{
			//position: absolute;
			//top: 50%;
			//left: 50%;
			//transform: translate(-50%, -50%);
			width: 100%;
			background-repeat: no-repeat;
		}
		&:hover .upload_cover_icon{
			display: block !important;
		}
		&:hover .upload_cover_text{
			display: block !important;
		}
		&:hover + .crop-btn{
			display: block !important;
		}
	}
	p.photo-credit{
		color: grey;
		line-height: 26px;
	}
	.crop-btn{
		position: absolute;
		top: 10px;
		right: 22px;
		border: 0;
		padding-top: 1px;
		margin: 10px;
		background: #F5D04C;
		&:hover{
			display: block !important;
		}
	}
	input.cover-credit{
		margin-top: 5px;
		//width: 80%;
		margin-bottom: 10px;
		padding-left: 9px;
		padding-right: 9px;
		border: none;
		border: 2px solid lightgrey;
		border-radius: 15px;
		outline: none;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
	}
	#musicnews_area{
		font-family: helvetica;
		color: grey;
		.btn-group{
			margin-bottom: 10px !important;
		}
		input{
			outline: none;
			border: none !important;
			-webkit-box-shadow: none !important;
			-moz-box-shadow: none !important;
			box-shadow: none !important;
			line-height: normal;
		}
		textarea{
			width: 100%;
			height: auto;
			outline: none;
			border: none !important;
			-webkit-box-shadow: none !important;
			-moz-box-shadow: none !important;
			box-shadow: none !important;
			resize: none;
			overflow: hidden;
		}
		.headline{
			textarea{
				color: black;
				font-family: helvetica;
				font-size: 60px;
				height: 60px;
				line-height: 60px;
			}
		}
		.subtitle{
			textarea{
				color: black;
				font-size: 25px;
				height: 25px;
			}
		}
		.story{
			.ta-editor {
				min-height: 300px;
				height: auto;
				overflow: auto;
				font-family: helvetica;
				font-size: 100%;
			}
		}
		.medium{
			p{
				//min-height: 300px;
			}
		}
	}
	#button_row{
		button{
			border: 0;
			padding-top: 1px;
			//margin: 10px;
		}
		a{
			margin: 10px;
		}
	}
}