@import "colors";

.create-post-modal .modal-dialog{
	border-radius: 0;
	margin: auto;
	margin-top: 100px;
	width: 700px;
	//padding: 15px;
	#create_postmodal{
		#post_header{
			background-color: $headerbarblack;
			h2{
				color: white;
				font-family: bebasBold;
				text-align: center;
				margin: 0;
				font-size: 40px;
				padding-top: 7px;
			}
		}
		#post_body{
			padding: 20px;
			padding-left: 35px;
			padding-right: 35px;
			.type-square{
				height: 200px;
				padding: 20px;
				//padding: 20px;
				div{
					height: 100%;
					border: 1px solid black;
					border-radius: 7px;
					cursor: pointer;
					-webkit-transition: all 0.5s;
					-moz-transition: all 0.5s;
					-ms-transition: all 0.5s;
					-o-transition: all 0.5s;
					transition: all 0.5s;
					position:relative;
					&:first-child{
						margin-right: 10px;
					}
					&:last-child{
						margin-left: 10px;
					}
					h3{
						font-family: bebasBold;
						text-align: center;
					}
					img{
						display:block;
    					margin:auto;
					}
					p{
						color:grey;
						text-align: center;
						margin-left: 10px;
						margin-right: 10px;
					}
					&:hover{
						-webkit-transform: scale(1.10);
						-moz-transform: scale(1.10);
						-ms-transform: scale(1.10);
						-o-transform: scale(1.10);
						transform: scale(1.10);
						&.feature{
							background-color: lightgreen;
						}
						&.review{
							background-color: lightpink;
						}
						&.gig-photos{
							background-color: lightblue;
						}
						&.slideshow{
							background-color: lightyellow;
						}
						&.musicnews{
							background-color: lightseagreen;
						}			
					}

				}
			}
		}
	}	
}

