@import "colors";

.crop-modal .modal-dialog{
	border-radius: 10px;
	border: 1px solid black;
	//margin: auto;
	margin-top: 100px;
	//overflow: hidden;
	width: 1000px;
	#crop_modal{
		padding: 0px;
		.modal-header{
			padding: 5px;
			border-top-left-radius: 6px;
    		border-top-right-radius: 6px;
			background: black;
			margin-bottom: 15px;
			h3{
				font-family: bebasbold;
				color: white;
				margin: 5px;
				font-size: 40px;
			}
		}
		.preview-area{
			border-right: 2px solid lightgrey;
			padding: 20px;
			margin-bottom: 20px;
			img{
				border: 2px dashed black;
				width: 100%;
			}
		}
		.crop-area{
			padding: 20px;
			width: 100%;
			height: 400px;
			//margin-top: 20px;
			//margin-bottom: 10px;
			img{
				width: 100px;
			}
		}
		.button-area{
			margin: 10px;
			button{
				border: 0;
				padding-top: 1px;
				margin: 10px;
			}
		}
	}
}