#home_contentarea{
	color: black;
	margin-top: 64px;
	//padding: 15px;
	p{
		color: grey;
		font-family: helvetica;
	}
	.ellipsis-2 {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		line-height: 1.1;     /* fallback */
		max-height: 2.2;      /* fallback */
		-webkit-line-clamp: 2; /* number of lines to show */
		-webkit-box-orient: vertical;
	}
	.ellipsis-7 {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		line-height: 16px;     /* fallback */
		max-height: 80px;      /* fallback */
		-webkit-line-clamp: 5; /* number of lines to show */
		-webkit-box-orient: vertical;
	}
	.home-container{
		padding: 0;
		margin-bottom: 40px;
		.home_background{
			background: url('..//img/crowd-homepage-min.jpg') no-repeat;
			background-position: 50% 70%;
			background-size:cover;
			height: 350px;
			h1{
				position: absolute;
				font-family: bebasbold;
				font-size: 70px;
				text-align: center;
				bottom: 0;
				color: white;
				width: 100%;
				text-shadow: 5px 5px black;
			}
		}
	}
	.row-articles{
		margin-bottom: 50px;
		.custom-header{
			a{
				font-size: 25px;
			}
		}
		.articles{
			
			.article{
				cursor: pointer;
				height: 220px;
				-webkit-transition: all 0.5s;
				-moz-transition: all 0.5s;
				-ms-transition: all 0.5s;
				-o-transition: all 0.5s;
				transition: all 0.5s;
				&:hover{
					-webkit-transform: scale(1.05);
					-moz-transform: scale(1.05);
					-ms-transform: scale(1.05);
					-o-transform: scale(1.05);
					transform: scale(1.05);
				}
				&.ng-enter-stagger{
					transition-delay: 0.3s;
					transition-duration: 0;
					animation-delay: 0.3s;
  					animation-duration: 0s;
				}
				&.ng-enter {
					animation: 1s;
					transition: 1s;
					opacity:0;
				}
				&.ng-enter-active {
					opacity:1;
				}
				.article-content{
					position: relative;
					height: 100%;
					.no-mobile{
						height:100%;
						img{
							height:100%;
							width: 220px;
							padding: 10px;
							//padding-left: 0;
						}
						.author{
							color:black;
						}
						h2{
							font-family: bebasbold;
							overflow: hidden;
							white-space: nowrap; 
							text-overflow: ellipsis;
						}
						.timestamp{
							font-size: 10px;
							position: absolute;
							bottom: 0;
							left: 220px;
						}
						.views{
							font-size: 10px;
							position: absolute;
							bottom: 0;
							right: 0;
						}
					}
					.article-mobile{
						img{
							width:100%;
							margin-top: 20px;
							padding: 10px;
						}
						.author{
							color:black;
						}
						h2{
							font-family: bebasbold;
							overflow: hidden;
							white-space: nowrap; 
							text-overflow: ellipsis;
							font-size: 50px;
						}
						.timestamp{
							font-size: 20px;
						}
						.views{
							font-size: 20px;
						}
					}
				}
				hr{
					width: 100%;
					margin: 0px;
					border-top: 2px solid #eee;
				}
			}
		}
		.top-posts{
			text-align: center;
			h2{
				font-family: bebasbold;
				letter-spacing: 2px;
				margin-bottom: 30px;
				font-size: 35px;
			}
			.post{
				cursor: pointer;
				height: 220px;
				-webkit-transition: all 0.5s;
				-moz-transition: all 0.5s;
				-ms-transition: all 0.5s;
				-o-transition: all 0.5s;
				transition: all 0.5s;
				&:hover{
					-webkit-transform: scale(1.02);
					-moz-transform: scale(1.02);
					-ms-transform: scale(1.02);
					-o-transform: scale(1.02);
					transform: scale(1.02);
				}
				cursor: pointer;
				height: 300px;
				img{
					width: 100%;
				}
				.info-area{
					//padding-left: 0px;
					//padding-right: 0px;
					.author{
						margin-top: 80px;
						font-family: bebasbold;
						color: black;
						font-size: 20px;
					}
					.index{
						font-size: 40px;
						color: black;
						position: relative;
					}
					.views{
						font-family: bebasbold;
						clear: both;
						margin-top: 90px;
						color: black;
						font-size: 20px;
					}
				}
				.title{
					font-family: bebasbold;
					color: black;
					font-size: 30px;
					padding: 10px;
					text-align: left;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					line-height: 1.3;     /* fallback */
					max-height: 2.6;      /* fallback */
					-webkit-line-clamp: 2; /* number of lines to show */
					-webkit-box-orient: vertical;
				}
				hr{
					border-top: 2px solid #eee;
					width: 97%;
				}
			}
		}
		.top-users{
			text-align: center;
			h2{
				font-family: bebasbold;
				letter-spacing: 2px;
				margin-bottom: 30px;
				font-size: 35px;
			}
			.user{
				cursor: pointer;
				height: 220px;
				-webkit-transition: all 0.5s;
				-moz-transition: all 0.5s;
				-ms-transition: all 0.5s;
				-o-transition: all 0.5s;
				transition: all 0.5s;
				&:hover{
					-webkit-transform: scale(1.02);
					-moz-transform: scale(1.02);
					-ms-transform: scale(1.02);
					-o-transform: scale(1.02);
					transform: scale(1.02);
				}
				cursor: pointer;
				height: 300px;
				img{
					width: 100%;
					margin-right: 50px;
				}
				.index{
					font-size: 40px;
					color: black;
				}
				.views{
					text-align: left;
					font-family: bebasbold;
					clear: both;
					margin-top: 130px;
					color: black;
					font-size: 20px;
				}
				hr{
					border-top: 2px solid #eee;
					width: 97%;
				}
				.first-name{
					font-family: bebasbold;
					color: black;
					font-size: 20px;
					text-align: left;
				}
				.last-name{
					font-family: bebasbold;
					color: black;
					font-size: 20px;
					text-align: left;
					margin-bottom: 40px;
				}
				.user-name{
					font-family: bebasbold;
					color: black;
					font-size: 20px;
					text-align: left;
				}
			}
		}
		button.load-more{
			border: 0;
			padding: 4px;
			padding-left: 10px;
			padding-right: 10px;
			width: auto;
			margin: 0;
			margin-top: 10px;
		}
	}
	.home-button-row{
		height: 200px;
		padding-top: 10px;
		a.uniform{
			width: 110px;
			height: 50px;
			border-radius: 4px;
			text-align: center;
			padding-top: 12px;
			margin: 5px;
		}
	}
}