#loadingmodal{
	padding: 10px;
	.img-preview{
		width: 100%;
	}
	.progress-text{
		text-align: center;
	}
	a.button.uniform.green{
		margin-left: 20px;
	}
	.error-area{
		padding-left: 0px !important;
		.error-image{
			img{
				margin-top: 17px;
				width: 100%;
			}
	}
	}
}