.login-modal .modal-dialog{
	border-radius: 0;
	margin: auto;
	margin-top: 100px;
	width: 400px;
	//padding: 15px;
	#loginmodal{
		div.tab-pane{
			padding: 20px;
		}
		p{
			color:grey;
			margin-bottom: 5px;
			&.forgotpassword{
				font-size: 10px;
				color: blue;
				cursor: pointer;
			}
			&.error-message{
				color: red;
			}
		}
		button.signin{
			width: 100%;
			height: 30px;
			background-color: black;
			color: white;
			border: none;
			font-family: bebasbold;
			font-size: 20px;
			&[disabled] {
				opacity: 0.7 !important;;   
			}
		}
		input{
			border:solid 1px lightgrey;
			width: 100%;
			margin-bottom: 10px;
			height: 35px;
		}
		.nav-tabs.nav-justified>li>a{
			color:black;
			font-size: 20px;
			border-radius: 0;
			border-bottom: none;
		}
		li{
			background-color: lightgrey;
		}
	}	
}

