@media (max-width: 1500px) {
  #home_contentarea{
    #home_header{
        h1{
          font-size: 70px;
          font-size: 5vw;
        }
    }
  }
}
@media(max-width: 992px){
  .login-modal .modal-dialog{
    width: 80%;
  }
}
