@import "colors";

$headerheight: 64px;
$sectionheight: 50px;
$sectionfontsize: 10px;

#header {
    position:fixed;
    height: $headerheight;
    background-color: $headerbarblack;
    width: 100%;
    text-align: center;
    position: fixed;
    top:0;
    left:0;
    z-index:100;
    //border-bottom: 1px solid lightgrey;    

    &.withshadow {
        -webkit-box-shadow: 0px 17px 90px 9px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 17px 90px 9px rgba(0,0,0,0.75);
        box-shadow: 0px 17px 90px 9px rgba(0,0,0,0.75);
    }

    #headerleft {
        height: $headerheight;
        float:left;
        margin:0;
        padding:0;
        
        #header-logo {
            width: 190px;
            height: 32px;
            margin: 16px 0 50px 30px;
            padding: 0;
            background: transparent url("..//img/logo-header-double.jpg") 0 0 no-repeat;
            text-indent: -9999em;
            a {
                opacity: 0;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
                filter: alpha(opacity=0);
                display: block;
                width: 190px;
                height: 32px;
                margin: 0;
                padding: 0;
                text-decoration: none;
                background: transparent url("..//img/logo-header-double.jpg") 0 -32px no-repeat;
                transition-property: opacity;
                transition-duration: 0.5s;
                transition-timing-function: ease-out;
                -moz-transition-property: opacity;
                -moz-transition-duration: 0.5s;
                -webkit-transition-property: opacity;
                -webkit-transition-duration: 0.5s;
                -o-transition-property: opacity;
                -o-transition-duration: 0.5s;
                -ms-transition-property: opacity;
                -ms-transition-duration: 0.5s;
                &:hover {
                    opacity: 1;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=1)";
                    filter: alpha(opacity=1);
                    transition-property: opacity;
                    transition-duration: 0.2s;
                    transition-timing-function: ease-out;
                    -moz-transition-property: opacity;
                    -moz-transition-duration: 0.2s;
                    -webkit-transition-property: opacity;
                    -webkit-transition-duration: 0.2s;
                    -o-transition-property: opacity;
                    -o-transition-duration: 0.2s;
                    -ms-transition-property: opacity;
                    -ms-transition-duration: 0.2s;
                }
            }
        }

        li {
            padding:0;
            margin:0;
            height: $headerheight;
            display: inline-block;   

            a {
                display: block;
                height: $headerheight;
                line-height: $headerheight;
                color: $headerbarblack;
                font-size: $sectionfontsize;
                margin-left: 40px;
                letter-spacing: 1px;
                -webkit-transition: 300ms;
                -moz-transition: 300ms;
                -o-transition: 300ms;
                transition: 300ms;
            }
        }
    }

    #headerright {
        height: $headerheight;
        float:right;
        margin:0;
        padding:0;
        padding-top:7px;
        li {
            padding:0;
            margin:0;
            margin-right:18px;
            height: $headerheight;
            display: inline-block; 
            float: left;
            a {
                color: #FFFFFF;
                font-family: azomedium;
                font-size: 12px;
                &.active{
                    opacity: 0.5;
                }
                .menu-arrow{
                    cursor: pointer;
                    width: 50px;
                    height: 50px;
                    background: url("..//img/icons/expand_arrow_white.png") 0 0 no-repeat;
                    opacity: 1;
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
        }
        #headerprofilephoto {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin-top: 3px;
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                &:hover{
                    opacity: 0.5;
                }
            }
        }
        #home_icon{
            cursor: pointer;
            a{
                font-size: 14px;
            }
            i{
                color:white;
                &:hover{
                    opacity: 0.5;
                }
            }
        }

    }
}


#headerrightmenu {
    position: absolute;
    top:64px;
    right:0;
    background-color: white;
    width: 160px;
    z-index:999;
    line-height:0;
    padding-left: 0;
    text-align: left;
    .list-group{
        margin-bottom: 0;
        a{
           border-radius: 0;
           color: $headerbarblack;
           background-color: white;
           &:hover{
               color: white;
               background-color: $headerbarblack;
           }
        }
        
    }
}
