@import "colors";

.preview-slideshow-modal .modal-dialog{
	border-radius: 10px;
	border: 1px solid black;
	//margin: auto;
	margin-top: 100px;
	//overflow: hidden;
	width: 1000px;
	//padding: 15px;
	#slideshow_preview_modal{
		background-color: $headerbarblack;
		height: 550px;
		padding: 20px;
		.headline{
			color: white;
			width: 100%;
			font-family: bebasbold;
			font-size: 40px;
			margin: 0px;
		}
		.subtitle{
			width: 100%;
			font-size: 20px;
			font-family: helvetica;
			color: grey;
			margin: 0px;
			margin-bottom: 10px;
		}
		.cover_photo{
			margin-top: 25px;
			margin-bottom: 25px;			
			width: 100%;
		}
		.story{
			width: 100%;
			height: auto;
			font-size: 15px;
			font-family: helvetica;
			color: lightgrey;
		}
		.scalable-16-9{
			width: 100%;
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 35px;
			height: 0;
			overflow: hidden;
			iframe{
				position: absolute;
				top:0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		.slideshow{
			.carousel-control{
				background-image: none;
				span{
					cursor: pointer;
				}
			}
			.carousel-indicators{
				display: none;
			}
		}
		.story-container{
			height: 400px;
			overflow-y: auto;
		}
	}	
}

