#profile_contentarea{
	color: black;
	margin-top: 64px;
	padding: 15px;
	p{
		color: grey;
		font-family: helvetica;
	}
	.ellipsis-7 {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		line-height: 16px;     /* fallback */
		max-height: 112px;      /* fallback */
		-webkit-line-clamp: 7; /* number of lines to show */
		-webkit-box-orient: vertical;
	}
	#home_header{
		img.profile-photo{
			height: 130px;
			border-radius: 50%;
		}
		.profile-info{
			font-family: bebasbold;
		}
		hr{
			margin: 0px;
			margin-top: 25px;
			border: none;
			height: 3px;
			color: #eee; /* old IE */
			background-color: #eee /* Modern Browsers */
		}
	}
	.user-articles{
		.article{
			cursor: pointer;
			height: 220px;
			.article-content{
				position: relative;
				height: 100%;
				img{
					max-height:100%;
					max-width: 200px;
					padding: 15px;
					padding-left: 0;
				}
				h2{
					font-family: bebasbold;
					overflow: hidden;
					white-space: nowrap; 
					text-overflow: ellipsis;
				}
				.timestamp{
					font-size: 10px;
					position: absolute;
					bottom: 0;
					left: 200px;
				}
				.views{
					font-size: 10px;
					position: absolute;
					bottom: 0;
					right: 0;
				}
				.no-articles{
					margin-top: 100px;
					margin-bottom: 100px;
				}
			}
			hr{
				margin: 0px;
			}
		}
	}
}