@import "colors";

#profile_settings_contentarea{
	color: black;
	margin-top: 64px;
	a.uniform{
		width: 110px;
		height: 50px;
		border-radius: 4px;
		text-align: center;
		padding-top: 12px;
		margin: 5px;
	}
	h2{
		font-family: bebasbold;
		font-size: 30px;
		text-align: center;
		&.profile-headline{
			text-align: left;
		}
	}
	h3{
		text-align: center;
		//padding-left: 130px;
		&.profile-link{
			color: darkturquoise;
			font-size: 25px;
			a{
				color: darkturquoise;
			}	
			
			input.username{
				background-color: $backgroundgrey;
				border: none;
				outline: none;
				border: none !important;
				-webkit-box-shadow: none !important;
				-moz-box-shadow: none !important;
				box-shadow: none !important;
				
			}
		}
	}
	a.save-username{
		margin: 10px;
		margin-bottom: 100px;
	}
	.ellipsis-2 {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		line-height: 1.1;     /* fallback */
		max-height: 2.2;      /* fallback */
		-webkit-line-clamp: 2; /* number of lines to show */
		-webkit-box-orient: vertical;
	}
	.ellipsis-7 {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		line-height: 16px;     /* fallback */
		max-height: 112px;      /* fallback */
		-webkit-line-clamp: 7; /* number of lines to show */
		-webkit-box-orient: vertical;
	}
	#posts{
		div.tab-pane{
			padding: 30px;
			background: white;
			.user-articles{
				.article{
					cursor: pointer;
					&.ng-enter-stagger{
						transition-delay: 0.3s;
						transition-duration: 0;
						animation-delay: 0.3s;
						animation-duration: 0s;
					}
					&.ng-enter {
						animation: 1s;
						transition: 1s;
						opacity:0;
					}
					&.ng-enter-active {
						opacity:1;
					}
					.article-content{
						position: relative;
						height: 100%;
						img{
							height: 220px;
							max-width: 220px;
							padding: 15px;
							padding-left: 0;
						}
						h2{
							font-family: bebasbold;
							overflow: hidden;
							white-space: nowrap; 
							text-overflow: ellipsis;
						}
						.timestamp{
							font-size: 10px;
							position: absolute;
							bottom: 5px;
							left: 220px;
						}
						.views{
							font-size: 10px;
							position: absolute;
							bottom: 0;
							right: 0;
						}
						p{
							font-size: 14px;
						}
						.no-articles{
							margin-top: 100px;
							margin-bottom: 100px;
						}
					}
					.button-row{
						opacity: 0;
						-webkit-transition: all .5s ease-in-out;
    					-moz-transition: all .5s ease-in-out;
						-o-transition: all .5s ease-in-out;
						transition: all .5s ease-in-out;
						margin-top: 30px;
						a{
							cursor: pointer;
							width: 100%;
							height: 50px;
							margin: 5px;
							padding-top: 13px;
						}
					}
					&:hover .button-row{
						opacity: 1;
						z-index: 5;
					}
					hr{
						margin: 0px;
					}
				}
			}
		}
		.nav-tabs.nav-justified>li{
			a{
				color:black;
				font-family: bebasbold;
				font-size: 30px;
				border-radius: 0;
				border: none;
				background-color: $backgroundgrey;
			}
			&.active>a{
				background-color: white;
			}
		}
		
	}
	div.tab-pane{
		padding:70px;
		padding-bottom: 15px;
		background: $backgroundgrey;
	}
	p{
		color:grey;
		margin-bottom: 5px;
		&.forgotpassword{
			font-size: 10px;
			color: blue;
		}
	}
	.nav-tabs.nav-justified>li{
		a{
			color:black;
			font-family: bebasbold;
			font-size: 30px;
			border-radius: 0;
			border: none;
			background-color: white;
		}
		&.active>a{
			background-color: $backgroundgrey;
		}
	}
	#drop_box_profile_photo {
		border: 4px dashed lightgrey;
		border-radius: 50%;
		height: 300px;
		width: 300px;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 50px;
		display: inline-block;
		cursor: pointer;
		position: relative;
		.upload_cover_icon{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: 50px;
			width: 50px;
			background: url("..//img/icons/upload.png") 0 0 no-repeat;
			z-index: 1;
		}
		.upload_cover_text{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding-top: 70px;
			p{
				font-family: bebasbold;
				color: lightgrey;
				font-size: 20px;	
			}
			z-index: 1;
		}
		#profile_cover_preview{
			border-radius: 50%;
			width: 100%;
			background-repeat: no-repeat;
			padding: 2px;
			background-color: white;
		}
		&:hover .upload_cover_icon{
			display: block !important;
		}
		&:hover .upload_cover_text{
			display: block !important;
		}
	}
	.crop-area{
		width: 300px;
		height: 300px;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.name-email-area, .change-password-area{
		padding-bottom: 50px;
		input, country-select, select{
			margin-top: 20px;
			font-size: 20px;
			height: 30px;
			font-family: helvetica;
			outline: none;
			border: none !important;
			-webkit-box-shadow: none !important;
			-moz-box-shadow: none !important;
			box-shadow: none !important;
			border-bottom: 2px solid lightgray !important;
			background-color: $backgroundgrey;
			width: 100%;
		}
		country-select, select{
			background-color: white;
			border: 2px solid lightgray !important;
		}
		textarea{
			font-family: helvetica;
			color: grey;
			font-size: 25px;
			width: 100%;
			height: auto;
			outline: none;
			border: none !important;
			-webkit-box-shadow: none !important;
			-moz-box-shadow: none !important;
			box-shadow: none !important;
			resize: none;
			padding: 2px;
			min-height: 144px;
			
		}
		button{
			border: 0;
			padding-top: 1px;
		}
		hr{
			//margin-top: 200px;
			margin-bottom: 40px;
			border-color: lightgrey;
		}
		.password-header{
			margin-bottom: 50px;
		}
		.button{
			margin-top: 30px;
		}
	}
}