@import "colors";

.publish-modal .modal-dialog{
	border-radius: 10px;
	border: 1px solid black;
	//margin: auto;
	margin-top: 100px;
	//overflow: hidden;
	width: 1000px;
	#publish_modal{
		padding: 0px;
		.modal-header{
			padding: 5px;
			border-top-left-radius: 6px;
    		border-top-right-radius: 6px;
			background: black;
			margin-bottom: 15px;
			h3{
				font-family: bebasbold;
				color: white;
				margin: 5px;
				font-size: 40px;
			}
		}
		.title-area{
			h4{
				font-family: bebasbold;
				font-size: 35px;
			}
		}
		.cover-area{
			img{
				width: 100%;
			}
			margin-bottom: 15px;
		}
		.link-area{
			h4{
				font-size: 30px;
				font-family: helveticaderp;
			}
			a{
				font-size: 20px;
			}
			margin-bottom: 35px;
		}
		.facebook-link-area{
			margin-bottom: 10px;
		}
		.button-area{
			margin: 10px;
			button{
				border: 0;
				padding-top: 1px;
				margin: 10px;
			}
		}
	}
}