@import "colors";
@import "fonts";
@import "nav";
@import "buttons";
@import "home";
@import "login_modal";
@import "create_post_modal";
@import "preview_article_modal";
@import "preview_slideshow_modal";
@import "image_loading_modal";
@import "crop_modal";
@import "publish_modal";
@import "confirm_signup_modal";
@import "create_feature";
@import "create_slideshow";
@import "create_review";
@import "create_gigphotos";
@import "create_musicnews";
@import "view_article";
@import "profile";
@import "profile_settings";
@import "media_queries";

//for animations
//@import "compass/css3";

html{
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
  overflow-y: scroll;
  body{
    .container-fluid{
    }
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    div.loading-overlay {
      opacity:    .7; 
      background: #000; 
      width:      100%;
      height:     100%; 
      z-index:    10;
      top:        0; 
      left:       0; 
      position:   fixed; 
      padding-bottom: 500px;
      .loading-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .circle {
          background-color: rgba(0,0,0,0);
          border: 5px solid rgba(0,183,229,0.9);
          opacity: 1;
          border-right: 5px solid rgba(0,0,0,0);
          border-left: 5px solid rgba(0,0,0,0);
          border-radius: 50px;
          box-shadow: 0 0 35px #2187e7;
          width: 50px;
          height: 50px;
          margin: 0 auto;
          animation: spinPulse 1s infinite ease-in-out;
          -moz-animation: spinPulse 1s infinite ease-in-out;
          -webkit-animation: spinPulse 1s infinite linear;
        }
        .circle1 {
          background-color: rgba(0,0,0,0);
          border: 5px solid rgba(0,183,229,0.9);
          opacity: 1;
          border-left: 5px solid rgba(0,0,0,0);
          border-right: 5px solid rgba(0,0,0,0);
          border-radius: 50px;
          box-shadow: 0 0 15px #2187e7;
          width: 30px;
          height: 30px;
          margin: 0 auto;
          position: relative;
          top: -40px;
          animation: spinoffPulse 1s infinite linear;
          -moz-animation: spinoffPulse 1s infinite linear;
          -webkit-animation: spinoffPulse 1s infinite linear;
        }
        p{
          color: white;
          position: absolute;
          top: 50px;
        }
      }
    }
  }
}
@keyframes spinPulse {
    0% {
        transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        transform: rotate(-320deg);
        opacity: 0;
    };
}

@keyframes spinoffPulse {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    };
}