#view_article_contentarea{
	color: black;
	margin-top: 64px;
	padding: 15px;
		.headline{
			width: 100%;
			font-family: bebasbold;
			font-size: 60px;
		}
		.subtitle{
			width: 100%;
			font-size: 25px;
			font-family: helvetica;
			color: grey;
		}
		.cover_photo{
			margin-top: 25px;
			margin-bottom: 25px;			
			width: 100%;
		}
		.story{
			width: 100%;
			height: auto;
			font-size: 18px;
			font-family: helvetica;
		}
}